In [2]:
import pandas as pd

import requests
from bs4 import BeautifulSoup

In [61]:
#url = "https://www.boxofficemojo.com/intl/?ref_=bo_nb_ydw_tab"
#url2 = "https://www.boxofficemojo.com/year/world/2019/"
#url_domestic = "https://www.boxofficemojo.com/year/2019/?ref_=bo_yl_table_43"
#W2019="https://www.boxofficemojo.com/year/world/2019/"
#W2018="https://www.boxofficemojo.com/year/world/2018/"
#W2017="https://www.boxofficemojo.com/year/world/2017/"
#W2016="https://www.boxofficemojo.com/year/world/2016/"
W2015="https://www.boxofficemojo.com/year/world/2015/"
res = requests.get(W2015)

In [62]:
#print(res.raise_for_status())#raise an error for unsucessfull status
soup = BeautifulSoup(res.text)#beautifulSoup-python package for parsing HTML and XML

In [63]:
#print(soup)

In [64]:
import time

In [65]:
#for intslling selenium-sudo pip install selenium-in Terminal and then restart the kernal
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
# from selenium.webdriver.common.action_chains import ActionChains

In [66]:
options = Options()

In [67]:
# tell selenium where the chromedriver executable is located
chrome_path = "/Users/srikanthgungi/Downloads/chromedriver"

In [68]:
# set the window size
options.add_argument('--window-size=500,300')
# initialize the driver
driver = webdriver.Chrome(chrome_path,
                          options=options)

In [69]:
driver.get(url_domestic)
time.sleep(15)

In [70]:
#table_weekends = driver.find_element_by_xpath('//*[@id="table"]/div/table')
#-error-element = driver.find_element_by_xpath("//*[@id="age"]")

In [71]:
# element.click()

In [72]:
# element.send_keys('50')

In [73]:
#pd.read_html(url_domestic)[0]
#pd.read_html(W2019)[0]
#pd.read_html(W2018)[0]
# pd.read_html(W2017)[0]
pd.read_html(W2015)[0]

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,Star Wars: Episode VII - The Force Awakens,"$2,068,223,624","$936,662,225",45.3%,"$1,131,561,399",54.7%
1,2,Jurassic World,"$1,670,400,637","$652,270,625",39%,"$1,018,130,012",61%
2,3,Furious 7,"$1,515,047,671","$353,007,020",23.3%,"$1,162,040,651",76.7%
3,4,Avengers: Age of Ultron,"$1,402,805,868","$459,005,868",32.7%,"$943,800,000",67.3%
4,5,Minions,"$1,159,398,397","$336,045,770",29%,"$823,352,627",71%
...,...,...,...,...,...,...,...
729,730,It's All So Quiet 2015 Re-release,$724,$724,100%,-,-
730,731,It's Hard Being Loved by Jerks 2015 Re-release,$697,$697,100%,-,-
731,732,The 11th Hour,$510,-,-,$510,100%
732,733,Paranoid Girls,$78,$78,100%,-,-
733,734,Confession of a Child of the Century 2015 Re-r...,$74,$74,100%,-,-

In [30]:
#pd.read_html(url)[0]

,Area,Weekend,Releases,#1 Release,Distributor,Weekend Gross
,2020 Week 9,2020 Week 9,2020 Week 9,2020 Week 9,2020 Week 9,2020 Week 9
0,Australia,Feb 27-Mar 1,37,The Invisible Man,Universal Pictures International (UPI),"$1,645,334"
1,Vietnam,Feb 28-Mar 1,19,The Invisible Man,Universal Pictures International (UPI),"$298,476"
2,Czech Republic,Feb 27-Mar 1,19,Sonic the Hedgehog,Universal Pictures International (UPI),"$265,677"
3,Norway,Feb 28-Mar 1,19,Fjols til Fjells,Nordisk Film,"$227,468"
4,South Africa,Feb 28-Mar 1,25,Sonic the Hedgehog,United International Pictures (UIP),"$184,670"
...,...,...,...,...,...,...
77,Nicaragua,Feb 20-23,1,Dark Waters,-,"$1,577"
78,Bangladesh,Feb 21-23,2,Knives Out,Blockbuster Cinemas,$435
79,Sri Lanka,Feb 21-23,1,Bombshell,-,$319
80,2020 Week 7,2020 Week 7,2020 Week 7,2020 Week 7,2020 Week 7,2020 Week 7
81,Ecuador,Feb 14-16,8,The Grudge,Sony Pictures Releasing,"$104,356"

In [74]:
#df2019 = pd.read_html(url2)[0]
#dfW2019 = pd.read_html(W2019)[0]
# dfW2018 = pd.read_html(W2018)[0]
dfW2015 = pd.read_html(W2015)[0]

In [75]:
#df2019.to_csv('2019_world_wide_box_office.csv')
#dfW2019.to_csv('2019WWBoxOffice.csv')
# dfW2018.to_csv('2018WWBoxOffice.csv')
dfW2015.to_csv('2015WWBoxOffice.csv')

In [ ]:
In [4]: frames = [df1, df2, df3]

In [5]: result = pd.concat(frames)

In [76]:
dfMerge = [dfW2015,dfW2016,dfW2017,dfW2018,dfW2019]
result=pd.concat(dfMerge)

In [77]:
result.to_csv('2015_2019WorldWideBoxOffice.csv')