In [389]:
import pandas as pd
import numpy as np

In [390]:
df = pd.read_csv('1900movies_budget_domesticgross_WW_gross.csv')

In [391]:
df

,Unnamed: 0,Date,Name,Budget,Domestic Gross,WW_Gross
0,0,"Apr 23, 2019",Avengers: Endgame,"$400,000,000","$858,373,000","$2,797,800,564"
1,1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$379,000,000","$241,063,875","$1,045,663,875"
2,2,"Apr 22, 2015",Avengers: Age of Ultron,"$365,000,000","$459,005,868","$1,403,013,963"
3,3,"Dec 16, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,068,223,624"
4,4,"Apr 25, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,359,754"
...,...,...,...,...,...,...
1895,95,"Jan 22, 2010",Extraordinary Measures,"$31,000,000","$12,482,741","$15,826,984"
1896,96,"Aug 25, 2017",Birth of the Dragon,"$31,000,000","$6,901,965","$7,220,490"
1897,97,"Oct 20, 1995",Get Shorty,"$30,250,000","$72,021,008","$115,021,008"
1898,98,"Jun 8, 1984",Ghostbusters,"$30,000,000","$242,212,467","$295,212,467"
1899,99,"Nov 22, 1995",Toy Story,"$30,000,000","$191,796,233","$364,545,516"

In [392]:
df_1 = pd.read_csv('20highest_revenue_from_1970_to_2019')
# df_1

In [393]:
df_2 = pd.read_csv('all_top_rated_without_revenue.csv')

In [6]:
# df_2

In [394]:
to_concat = [df_1, df_2]
combined_df = pd.concat(to_concat)

In [395]:
combined_df.head(20)

,Unnamed: 0,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,0,False,/x04WbAV89ye9vv02Oz5CEtkyttV.jpg,"[18, 10749]",9062,en,Love Story,Harvard Law student Oliver Barrett IV and musi...,9.594,/etBvIpFZTjlBC824O3Va9De6MCh.jpg,1970-12-16,Love Story,False,6.7,317
1,1,False,/8qv3bqwiqXzcCZv95TdcL23kbdO.jpg,"[28, 18, 53]",10671,en,Airport,"Melodrama about a bomber on board an airplane,...",9.058,/8PVL7xjx0IUguDVW6PJGACJDc4U.jpg,1970-03-05,Airport,False,6.5,169
2,2,False,/iCLuDtSSU0cFLH1oTM1828STIOB.jpg,"[18, 36, 10752]",11202,en,Patton,"""Patton"" tells the tale of General George S. P...",13.077,/rLM7jIEPTjj4CF7F1IrzzNjLUCu.jpg,1970-01-25,Patton,False,7.5,585
3,3,False,/l5YH6TCYi2mgZwXbDjF71iA9UBP.jpg,"[35, 18, 10752]",651,en,M*A*S*H,The staff of a Korean War field hospital use h...,11.800,/cscyvJ4nDgbqewrttPXZ5EYOdwa.jpg,1970-01-24,M*A*S*H,False,7.1,486
4,4,False,/fojdVtSsZa7fXyJQ6w1Exw7GWum.jpg,"[12, 16, 35, 10751]",10112,en,The Aristocats,When Madame Adelaide Bonfamille leaves her for...,13.901,/pXHpNfsZXX50vCb7Z39coEJCIka.jpg,1970-12-23,The Aristocats,False,7.3,3164
5,5,False,/wa4NwLzxtjXIGdAqn4PAefXlR1p.jpg,"[35, 18, 53]",5722,en,Beyond the Valley of the Dolls,"An all-female rock group finds fame, love, and...",6.408,/82BGehJQFch1GENnT9j5KwTDQmJ.jpg,1970-07-17,Beyond the Valley of the Dolls,False,6.5,101
6,6,False,/50tOx2lJXuszVjwCjNYHEXnPMWx.jpg,"[99, 36, 10402]",9459,en,Woodstock,An intimate look at the Woodstock Music & Art ...,6.523,/8YrHSzR89PZxIhF1a1ZVhQX7OlJ.jpg,1970-03-26,Woodstock,False,7.5,135
7,7,False,/tWP2LoaMRjX3Y4dDOSwE2prN423.jpg,"[12, 35, 18, 37]",11040,en,Little Big Man,"Jack Crabb, looking back from extreme old age,...",9.615,/uy6bUIwyrAxQ2Liba3HExsUIpZm.jpg,1970-12-14,Little Big Man,False,7.7,275
8,8,False,/fztkRpVydDJKSo07oEdqOYTZF1q.jpg,"[18, 36, 10752]",11165,en,Tora! Tora! Tora!,"In the summer of 1941, the United States and J...",8.226,/fInDi69s6Y6AQ1drthAxJMbY0lE.jpg,1970-01-26,Tora! Tora! Tora!,False,7.1,251
9,9,False,/ggmbKHHv4quEMt8qMJqKbdKPTHk.jpg,"[35, 18, 10752]",10364,en,Catch-22,A bombardier in World War II tries desperately...,7.771,/m5FmiVVUhxKHxyqzJFVQe2BqGMI.jpg,1970-06-24,Catch-22,False,6.9,147
10,10,False,/yHegd3GmciixQx3SKVQGRfFUjtA.jpg,"[18, 53]",46691,en,Joe,"Bill, a wealthy businessman, confronts his jun...",2.406,/qOtMi1SoH6Y77K5umWwtGu3hM0z.jpg,1970-07-15,Joe,False,6.4,17
11,11,False,/cBa7Bt42lyVhCmc65MieMdVIQ6h.jpg,"[12, 878, 9648]",1685,en,Beneath the Planet of the Apes,During a rescue mission to locate missing astr...,11.623,/v1r5mBh9hxxWpvZl9G3cP7d1Mh9.jpg,1970-05-01,Beneath the Planet of the Apes,False,6.2,646
12,12,False,/AvhlgJO4fDYydBKHZTM0RkbIVXA.jpg,[18],26617,en,Five Easy Pieces,A drop-out from upper-class America picks up w...,9.701,/xGLkuMWigSPLBvWiENSMlVq56iE.jpg,1970-09-12,Five Easy Pieces,False,7.3,228
13,13,False,/wfF75JmloceYaxWe4oLngsr5P6M.jpg,[18],64512,sv,Ann och Eve - de erotiska,The story concerns the Yugoslavian holiday of ...,0.600,/rkFo2F2wYIY4yla8rXTE0LaUqwc.jpg,1970-08-03,Ann and Eve,False,0.0,0
14,14,False,/hvoAaSlYJepuRnzSkC6qiWtssiS.jpg,"[35, 18]",42588,en,Getting Straight,Graduate student Harry Bailey was once one of ...,3.161,/stdyR37NANzRuWyBfZczcJODAPS.jpg,1970-05-13,Getting Straight,False,6.1,8
15,15,False,NaN,"[18, 10402]",215843,en,Song of Norway,"Like the play from which it derived, the film ...",1.490,NaN,1970-11-04,Song of Norway,False,3.5,1
16,16,False,/js7WdYkmPDx8zHX0pgzhNuOTk77.jpg,"[12, 35, 10752]",11589,en,Kelly's Heroes,A misfit group of World War II American soldie...,12.342,/lLFncrtTIz1hcteLbM9eKRflrMd.jpg,1970-06-22,Kelly's Heroes,False,7.4,345
17,17,False,/gMGFCW5YCR0C958xxuKAoInUoiE.jpg,[37],11916,en,Two Mules for Sister Sara,"Hogan, on his way to do some reconnaissance fo...",9.132,/u98Fqg9CJsvy0ppn21ndND3WDnY.jpg,1970-06-14,Two Mules for Sister Sara,False,7.0,275
18,18,False,/4WfwZ5QLbyQccaaTDsJLs1Mt3By.jpg,"[28, 35, 37]",23330,en,The Ballad of Cable Hogue,Double-crossed and left without water in the d...,5.954,/b2sQuFpDWpGEahGboUTBumAs6A9.jpg,1970-05-13,The Ballad of Cable Hogue,False,7.1,93
19,19,False,/qHBMES8P86TZZ7JiwMmJHjz9x47.jpg,"[28, 18, 36]",33157,en,Waterloo,After defeating France and imprisoning Napoleo...,5.328,/kH8z1blczwSzbDRsbPRl8WY43XM.jpg,1970-10-26,Waterloo,False,7.2,72

In [396]:
combined_df.tail()

,Unnamed: 0,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
1475,15,False,/jnfSO7cFWcnQG1ibGoxUmjbAjNG.jpg,"[53, 28, 80]",17814,en,Assault on Precinct 13,The lone inhabitants of an abandoned police st...,9.932,/nKwww1DA43Y1H5XfHdaGFxIIXzD.jpg,1976-11-05,Assault on Precinct 13,False,7.3,499
1476,16,False,/onGm7VbkKKEbdZYvoc6wXfo2HTQ.jpg,"[35, 9648]",10440,en,Manhattan Murder Mystery,A middle-aged couple suspects foul play when t...,9.439,/6y04YdXDoSNxiJ5g0h92NBiatyv.jpg,1993-08-18,Manhattan Murder Mystery,False,7.3,480
1477,17,False,/67qMLI58HmQ5ArBsTVBxG4KHuRJ.jpg,[27],377,en,A Nightmare on Elm Street,Teenagers in a small town are dropping like fl...,12.545,/sXFlyjfWv544uKOJmPd2vVsaFm9.jpg,1984-11-14,A Nightmare on Elm Street,False,7.3,2820
1478,18,False,/7fXKVIM8UQBvQ9aQOzFqThlq7eN.jpg,"[18, 10749]",167073,en,Brooklyn,"In 1950s Ireland and New York, young Eilis Lac...",15.632,/dRpkyrSDrEMFRZDeFJG4EupqUfR.jpg,2015-10-20,Brooklyn,False,7.3,2135
1479,19,False,/cN9Nbwh66TRcj2gBE8cSEZulsx3.jpg,"[12, 16, 10751]",109445,en,Frozen,Young princess Anna of Arendelle dreams about ...,44.178,/eFnGmj63QPUpK7QUWSOUhypIQOT.jpg,2013-11-27,Frozen,False,7.3,11199

In [397]:
for col in combined_df.columns:
    print(col)

Unnamed: 0
adult
backdrop_path
genre_ids
id
original_language
original_title
overview
popularity
poster_path
release_date
title
video
vote_average
vote_count

In [398]:
combined_df.drop(columns = ['Unnamed: 0','backdrop_path','overview','poster_path','video'], inplace=True)

In [14]:
combined_df

,adult,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,False,"[18, 10749]",9062,en,Love Story,9.594,1970-12-16,Love Story,6.7,317
1,False,"[28, 18, 53]",10671,en,Airport,9.058,1970-03-05,Airport,6.5,169
2,False,"[18, 36, 10752]",11202,en,Patton,13.077,1970-01-25,Patton,7.5,585
3,False,"[35, 18, 10752]",651,en,M*A*S*H,11.800,1970-01-24,M*A*S*H,7.1,486
4,False,"[12, 16, 35, 10751]",10112,en,The Aristocats,13.901,1970-12-23,The Aristocats,7.3,3164
...,...,...,...,...,...,...,...,...,...,...
1475,False,"[53, 28, 80]",17814,en,Assault on Precinct 13,9.932,1976-11-05,Assault on Precinct 13,7.3,499
1476,False,"[35, 9648]",10440,en,Manhattan Murder Mystery,9.439,1993-08-18,Manhattan Murder Mystery,7.3,480
1477,False,[27],377,en,A Nightmare on Elm Street,12.545,1984-11-14,A Nightmare on Elm Street,7.3,2820
1478,False,"[18, 10749]",167073,en,Brooklyn,15.632,2015-10-20,Brooklyn,7.3,2135
1479,False,"[12, 16, 10751]",109445,en,Frozen,44.178,2013-11-27,Frozen,7.3,11199

In [399]:
combined_df.set_index('title')

,adult,genre_ids,id,original_language,original_title,popularity,release_date,vote_average,vote_count
title,,,,,,,,,
Love Story,False,"[18, 10749]",9062,en,Love Story,9.594,1970-12-16,6.7,317
Airport,False,"[28, 18, 53]",10671,en,Airport,9.058,1970-03-05,6.5,169
Patton,False,"[18, 36, 10752]",11202,en,Patton,13.077,1970-01-25,7.5,585
M*A*S*H,False,"[35, 18, 10752]",651,en,M*A*S*H,11.800,1970-01-24,7.1,486
The Aristocats,False,"[12, 16, 35, 10751]",10112,en,The Aristocats,13.901,1970-12-23,7.3,3164
...,...,...,...,...,...,...,...,...,...
Assault on Precinct 13,False,"[53, 28, 80]",17814,en,Assault on Precinct 13,9.932,1976-11-05,7.3,499
Manhattan Murder Mystery,False,"[35, 9648]",10440,en,Manhattan Murder Mystery,9.439,1993-08-18,7.3,480
A Nightmare on Elm Street,False,[27],377,en,A Nightmare on Elm Street,12.545,1984-11-14,7.3,2820
Brooklyn,False,"[18, 10749]",167073,en,Brooklyn,15.632,2015-10-20,7.3,2135
Frozen,False,"[12, 16, 10751]",109445,en,Frozen,44.178,2013-11-27,7.3,11199

In [400]:
combined_df.sort_values(by='vote_average', ascending = False)

,adult,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,False,"[35, 18, 10749]",19404,hi,दिलवाले दुल्हनिया ले जायेंगे,21.867,1995-10-20,Dilwale Dulhania Le Jayenge,8.8,2214
40,False,"[80, 18]",238,en,The Godfather,29.365,1972-03-14,The Godfather,8.7,11487
2,False,"[80, 18]",238,en,The Godfather,29.365,1972-03-14,The Godfather,8.7,11487
1,False,"[18, 80]",278,en,The Shawshank Redemption,36.004,1994-09-23,The Shawshank Redemption,8.7,15047
463,False,"[18, 36, 10752]",424,en,Schindler's List,23.746,1993-11-30,Schindler's List,8.6,9163
...,...,...,...,...,...,...,...,...,...,...
105,False,[37],93708,it,Cipolla Colt,1.400,1975-08-25,"Cry, Onion!",3.7,8
15,False,"[18, 10402]",215843,en,Song of Norway,1.490,1970-11-04,Song of Norway,3.5,1
61,False,[80],170882,it,La mano nera,0.840,1973-03-16,The Black Hand,0.0,0
13,False,[18],64512,sv,Ann och Eve - de erotiska,0.600,1970-08-03,Ann and Eve,0.0,0
965,False,"[28, 18, 35, 99]",517141,en,In The Mood For Surrealism or 8021,0.600,2018-04-24,In The Mood For Surrealism or 8021,0.0,0

In [362]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2480 entries, 0 to 1479
Data columns (total 10 columns):
adult                2480 non-null bool
genre_ids            2480 non-null object
id                   2480 non-null int64
original_language    2480 non-null object
original_title       2480 non-null object
popularity           2480 non-null float64
release_date         2480 non-null object
title                2480 non-null object
vote_average         2480 non-null float64
vote_count           2480 non-null int64
dtypes: bool(1), float64(2), int64(2), object(5)
memory usage: 196.2+ KB

In [401]:
combined_df.drop_duplicates(subset='id',inplace=True)

In [402]:
genres_id = pd.read_csv('genre_codes.csv')

In [365]:
genres_id

    Unnamed: 0     id             name
0            0     28           Action
1            1     12        Adventure
2            2     16        Animation
3            3     35           Comedy
4            4     80            Crime
5            5     99      Documentary
6            6     18            Drama
7            7  10751           Family
8            8     14          Fantasy
9            9     36          History
10          10     27           Horror
11          11  10402            Music
12          12   9648          Mystery
13          13  10749          Romance
14          14    878  Science Fiction
15          15  10770         TV Movie
16          16     53         Thriller
17          17  10752              War
18          18     37          Western

In [403]:
trial = combined_df.loc[:2]

In [367]:
trial

,adult,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,False,"[18, 10749]",9062,en,Love Story,9.594,1970-12-16,Love Story,6.7,317
1,False,"[28, 18, 53]",10671,en,Airport,9.058,1970-03-05,Airport,6.5,169
2,False,"[18, 36, 10752]",11202,en,Patton,13.077,1970-01-25,Patton,7.5,585

In [288]:
trial.genre_ids

0        [18, 10749]
1       [28, 18, 53]
2    [18, 36, 10752]
Name: genre_ids, dtype: object

In [404]:
genres_id

    Unnamed: 0     id             name
0            0     28           Action
1            1     12        Adventure
2            2     16        Animation
3            3     35           Comedy
4            4     80            Crime
5            5     99      Documentary
6            6     18            Drama
7            7  10751           Family
8            8     14          Fantasy
9            9     36          History
10          10     27           Horror
11          11  10402            Music
12          12   9648          Mystery
13          13  10749          Romance
14          14    878  Science Fiction
15          15  10770         TV Movie
16          16     53         Thriller
17          17  10752              War
18          18     37          Western

In [405]:
genres_id['id'] = genres_id['id'].astype(str)

In [291]:
genres_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 3 columns):
Unnamed: 0    19 non-null int64
id            19 non-null object
name          19 non-null object
dtypes: int64(1), object(2)
memory usage: 584.0+ bytes

In [406]:
# list_id = genres_id.loc[:,'id' ]

# for i in genres_id: 
#     list_id+=ist_id.append(i)
#     print(list_id)


list_of_id = genres_id['id'].to_list()
# list_of_id

In [407]:
list_of_genre_names = genres_id['name'].to_list()
# list_of_genre_names

In [408]:
my_dict = zip(list_of_id,list_of_genre_names)
genre_dict=dict(my_dict)
# genre_dict

In [409]:
for key,value in genre_dict.items():
    combined_df['genre_ids'] = combined_df['genre_ids'].str.replace(key ,value)

In [410]:
combined_df.sort_values(by='release_date',ascending=False).head()

,adult,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
809,False,"[Drama, Romance]",342470,en,All the Bright Places,93.054,2020-02-28,All the Bright Places,7.5,235
324,False,"[Action, Comedy, Crime]",522627,en,The Gentlemen,38.284,2020-01-01,The Gentlemen,7.9,359
262,False,"[Drama, Romance]",331482,en,Little Women,35.016,2019-12-25,Little Women,8.0,1239
987,False,"[Action, Adventure, Science Fiction]",181812,en,Star Wars: The Rise of Skywalker,55.835,2019-12-18,Star Wars: The Rise of Skywalker,6.5,3059
1031,False,[Drama],292011,en,Richard Jewell,34.950,2019-12-13,Richard Jewell,7.5,378

In [30]:
# combined_df['genre_1'] = combined_df['genre_ids'].apply(lambda x : x.split(', ')[0])

# combined_df

In [31]:
# combined_df.drop(columns='genre_1',inplace=True)

In [411]:
combined_df.set_index('title',inplace=True)

In [143]:
combined_df

,adult,genre_ids,id,original_language,original_title,popularity,release_date,vote_average,vote_count
title,,,,,,,,,
Love Story,False,"[Drama, Romance]",9062,en,Love Story,9.594,1970-12-16,6.7,317
Airport,False,"[Action, Drama, Thriller]",10671,en,Airport,9.058,1970-03-05,6.5,169
Patton,False,"[Drama, History, War]",11202,en,Patton,13.077,1970-01-25,7.5,585
M*A*S*H,False,"[Comedy, Drama, War]",651,en,M*A*S*H,11.800,1970-01-24,7.1,486
The Aristocats,False,"[Adventure, Animation, Comedy, Family]",10112,en,The Aristocats,13.901,1970-12-23,7.3,3164
...,...,...,...,...,...,...,...,...,...
Gangs of New York,False,"[Drama, History, Crime]",3131,en,Gangs of New York,15.423,2002-12-14,7.3,4018
Assault on Precinct 13,False,"[Thriller, Action, Crime]",17814,en,Assault on Precinct 13,9.932,1976-11-05,7.3,499
Manhattan Murder Mystery,False,"[Comedy, Mystery]",10440,en,Manhattan Murder Mystery,9.439,1993-08-18,7.3,480
A Nightmare on Elm Street,False,[Horror],377,en,A Nightmare on Elm Street,12.545,1984-11-14,7.3,2820
Brooklyn,False,"[Drama, Romance]",167073,en,Brooklyn,15.632,2015-10-20,7.3,2135

In [412]:
df.rename(columns = {'Name' : 'title'}, inplace = True)

In [413]:
df.set_index('title',inplace=True)

In [150]:
df

,Unnamed: 0,Date,Budget,Domestic Gross,WW_Gross
title,,,,,
Avengers: Endgame,0,"Apr 23, 2019","$400,000,000","$858,373,000","$2,797,800,564"
Pirates of the Caribbean: On Stranger Tides,1,"May 20, 2011","$379,000,000","$241,063,875","$1,045,663,875"
Avengers: Age of Ultron,2,"Apr 22, 2015","$365,000,000","$459,005,868","$1,403,013,963"
Star Wars Ep. VII: The Force Awakens,3,"Dec 16, 2015","$306,000,000","$936,662,225","$2,068,223,624"
Avengers: Infinity War,4,"Apr 25, 2018","$300,000,000","$678,815,482","$2,048,359,754"
...,...,...,...,...,...
Extraordinary Measures,95,"Jan 22, 2010","$31,000,000","$12,482,741","$15,826,984"
Birth of the Dragon,96,"Aug 25, 2017","$31,000,000","$6,901,965","$7,220,490"
Get Shorty,97,"Oct 20, 1995","$30,250,000","$72,021,008","$115,021,008"
Ghostbusters,98,"Jun 8, 1984","$30,000,000","$242,212,467","$295,212,467"
Toy Story,99,"Nov 22, 1995","$30,000,000","$191,796,233","$364,545,516"

In [32]:
# df.drop(columns = ['Unnamed: 0'], inplace=True)

In [36]:
# combined_inner = pd.merge(combined_df, df, how = 'inner', left_index = True, right_index = True)

In [37]:
# combined_inner.shape

In [414]:
combined_outer = pd.merge(combined_df, df, how = 'outer', left_index = True, right_index = True)

In [152]:
combined_outer

,adult,genre_ids,id,original_language,original_title,popularity,release_date,vote_average,vote_count,Unnamed: 0,Date,Budget,Domestic Gross,WW_Gross
title,,,,,,,,,,,,,,
*batteries not included,False,"[Comedy, Family, Science Fiction, Fantasy]",11548.0,en,*batteries not included,11.802,1987-12-18,6.5,385.0,NaN,NaN,NaN,NaN,NaN
10,False,"[Comedy, Romance]",9051.0,en,10,7.937,1979-10-04,5.7,116.0,NaN,NaN,NaN,NaN,NaN
10 Things I Hate About You,False,"[Comedy, Romance, Drama]",4951.0,en,10 Things I Hate About You,20.880,1999-03-30,7.5,4637.0,NaN,NaN,NaN,NaN,NaN
"10,000 B.C.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.0,"Mar 7, 2008","$105,000,000","$94,784,201","$269,065,678"
"10,000 BC",False,"[Action, Adventure, Drama, Fantasy]",7840.0,en,"10,000 BC",13.332,2008-02-22,5.3,1834.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zootopia,False,"[Animation, Adventure, Family, Comedy]",269149.0,en,Zootopia,44.800,2016-02-11,7.7,11107.0,69.0,"Feb 10, 2016","$150,000,000","$341,268,248","$1,023,784,195"
Zulu,False,"[Action, Drama, History, War]",14433.0,en,Zulu,10.833,1964-01-22,7.5,244.0,NaN,NaN,NaN,NaN,NaN
mid90s,False,"[Comedy, Drama]",437586.0,en,mid90s,13.427,2018-10-19,7.3,548.0,NaN,NaN,NaN,NaN,NaN
xXx,False,"[Action, Adventure, Mystery, Thriller]",7451.0,en,xXx,13.578,2002-08-09,5.9,2666.0,28.0,"Aug 9, 2002","$70,000,000","$141,930,000","$267,200,000"
xXx: Return of Xander Cage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,"Jan 19, 2017","$85,000,000","$44,898,413","$345,033,359"

In [415]:
new_df = pd.read_csv('2015_2019WorldWideBoxOffice.csv')

In [416]:
new_df.rename(columns = {'Release Group' : 'title'}, inplace = True)

In [417]:
new_df.set_index('title',inplace=True)

In [56]:
# new_df

In [418]:
combined_last = pd.merge(combined_outer, new_df, how = 'outer', left_index = True, right_index = True)

In [304]:
combined_last

,adult,genre_ids,id,original_language,original_title,popularity,release_date,vote_average,vote_count,Unnamed: 0_x,...,Budget,Domestic Gross,WW_Gross,Unnamed: 0_y,Rank,Worldwide,Domestic,%,Foreign,%.1
title,,,,,,,,,,,,,,,,,,,,,
'85: The Greatest Team in Football History,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,605.0,606.0,"$124,573","$124,573",100%,-,-
*batteries not included,False,"[Comedy, Family, Science Fiction, Fantasy]",11548.0,en,*batteries not included,11.802,1987-12-18,6.5,385.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,False,"[Comedy, Romance]",9051.0,en,10,7.937,1979-10-04,5.7,116.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10 Cloverfield Lane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,72.0,73.0,"$110,216,998","$72,082,998",65.4%,"$38,134,000",34.6%
10 Days in a Madhouse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,627.0,628.0,"$14,616","$14,616",100%,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
xXx,False,"[Action, Adventure, Mystery, Thriller]",7451.0,en,xXx,13.578,2002-08-09,5.9,2666.0,28.0,...,"$70,000,000","$141,930,000","$267,200,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
xXx: Return of Xander Cage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,...,"$85,000,000","$44,898,413","$345,033,359",26.0,27.0,"$346,118,277","$44,898,413",13%,"$301,219,864",87%
¡He matado a mi marido!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,527.0,528.0,"$68,017","$45,777",67.3%,"$22,240",32.7%
Ága,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,560.0,561.0,"$35,178","$35,178",100%,-,-
Évolution,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,547.0,548.0,"$55,985","$24,770",44.2%,"$31,215",55.8%

In [419]:
combined_last['Title'] = combined_last.index

In [420]:
# combined_last.isna().sum()
combined_last.reset_index(inplace=True)

In [421]:
combined_last.drop_duplicates(subset='Title',inplace=True)

In [422]:
combined_last.columns

Index(['title', 'adult', 'genre_ids', 'id', 'original_language',
       'original_title', 'popularity', 'release_date', 'vote_average',
       'vote_count', 'Unnamed: 0_x', 'Date', 'Budget', 'Domestic Gross',
       'WW_Gross', 'Unnamed: 0_y', 'Rank', 'Worldwide', 'Domestic', '%',
       'Foreign', '%.1', 'Title'],
      dtype='object')

In [423]:
combined_last.drop(columns = ['id','original_title','Unnamed: 0_x','Unnamed: 0_y'], inplace=True)

In [310]:
combined_last

,title,adult,genre_ids,original_language,popularity,release_date,vote_average,vote_count,Date,Budget,Domestic Gross,WW_Gross,Rank,Worldwide,Domestic,%,Foreign,%.1,Title
0,'85: The Greatest Team in Football History,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,606.0,"$124,573","$124,573",100%,-,-,'85: The Greatest Team in Football History
1,*batteries not included,False,"[Comedy, Family, Science Fiction, Fantasy]",en,11.802,1987-12-18,6.5,385.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,*batteries not included
2,10,False,"[Comedy, Romance]",en,7.937,1979-10-04,5.7,116.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10
3,10 Cloverfield Lane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.0,"$110,216,998","$72,082,998",65.4%,"$38,134,000",34.6%,10 Cloverfield Lane
4,10 Days in a Madhouse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,628.0,"$14,616","$14,616",100%,-,-,10 Days in a Madhouse
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6899,xXx,False,"[Action, Adventure, Mystery, Thriller]",en,13.578,2002-08-09,5.9,2666.0,"Aug 9, 2002","$70,000,000","$141,930,000","$267,200,000",NaN,NaN,NaN,NaN,NaN,NaN,xXx
6900,xXx: Return of Xander Cage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jan 19, 2017","$85,000,000","$44,898,413","$345,033,359",27.0,"$346,118,277","$44,898,413",13%,"$301,219,864",87%,xXx: Return of Xander Cage
6901,¡He matado a mi marido!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,528.0,"$68,017","$45,777",67.3%,"$22,240",32.7%,¡He matado a mi marido!
6902,Ága,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0,"$35,178","$35,178",100%,-,-,Ága
6903,Évolution,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,548.0,"$55,985","$24,770",44.2%,"$31,215",55.8%,Évolution

In [424]:
combined_last.isna().sum()

title                   0
adult                4654
genre_ids            4654
original_language    4654
popularity           4654
release_date         4654
vote_average         4654
vote_count           4654
Date                 4959
Budget               4959
Domestic Gross       4959
WW_Gross             4959
Rank                 3015
Worldwide            3015
Domestic             3015
%                    3015
Foreign              3015
%.1                  3015
Title                   0
dtype: int64

In [425]:
combined_last['Domestic'].fillna(combined_last['Domestic Gross'],inplace=True)

In [426]:
combined_last['Worldwide'].fillna(combined_last['WW_Gross'],inplace=True)

In [427]:
combined_last.isna().sum()

title                   0
adult                4654
genre_ids            4654
original_language    4654
popularity           4654
release_date         4654
vote_average         4654
vote_count           4654
Date                 4959
Budget               4959
Domestic Gross       4959
WW_Gross             4959
Rank                 3015
Worldwide            1444
Domestic             1444
%                    3015
Foreign              3015
%.1                  3015
Title                   0
dtype: int64

In [428]:
combined_last.drop(columns=['Domestic Gross','WW_Gross'],inplace=True)

In [437]:
combined_last.sort_values(by='Worldwide',ascending=False)

,title,adult,genre_ids,original_language,popularity,release_date,vote_average,vote_count,Date,Budget,Rank,Worldwide,Domestic,%,Foreign,%.1,Title
4773,Street Fighter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dec 23, 1994","$35,000,000",NaN,"$99,423,000","$33,423,000",NaN,NaN,NaN,Street Fighter
3581,Nacho Libre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jun 16, 2006","$32,000,000",NaN,"$99,296,462","$80,197,993",NaN,NaN,NaN,Nacho Libre
6728,Where the Wild Things Are,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Oct 16, 2009","$100,000,000",NaN,"$99,123,656","$77,233,467",NaN,NaN,NaN,Where the Wild Things Are
6239,The Wild,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Apr 14, 2006","$80,000,000",NaN,"$99,010,667","$37,384,046",NaN,NaN,NaN,The Wild
6154,The Time Machine,False,"[Adventure, Fantasy, Science Fiction, Thriller...",en,10.877,1960-05-25,7.4,406.0,"Mar 8, 2002","$80,000,000",NaN,"$98,983,590","$56,684,819",NaN,NaN,NaN,The Time Machine
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6875,Z-O-M-B-I-E-S,False,"[Comedy, Fantasy, Music, Romance, TV Movie]",en,13.179,2018-02-16,7.3,212.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Z-O-M-B-I-E-S
6879,Zatoichi,False,"[Adventure, Drama, Action]",ja,11.717,2003-09-06,7.3,426.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zatoichi
6880,Zelig,False,[Comedy],en,9.506,1983-07-15,7.6,467.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zelig
6897,Zulu,False,"[Action, Drama, History, War]",en,10.833,1964-01-22,7.5,244.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zulu
6898,mid90s,False,"[Comedy, Drama]",en,13.427,2018-10-19,7.3,548.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mid90s

In [430]:
combined_last.to_csv('last_all_data.csv')

In [439]:
combined_last.dropna(subset=['Worldwide'],inplace=True)

In [441]:
combined_last.dropna(subset=['genre_ids'],inplace=True)

In [446]:
combined_last

,title,adult,genre_ids,original_language,popularity,release_date,vote_average,vote_count,Date,Budget,Rank,Worldwide,Domestic,%,Foreign,%.1,Title
29,1917,False,"[Action, Drama, War]",en,70.660,2019-12-10,8.0,2963.0,"Dec 25, 2019","$100,000,000",25.0,"$362,628,024","$156,128,024",43.1%,"$206,500,000",56.9%,1917
34,2 Fast 2 Furious,False,"[Action, Crime, Thriller]",en,3.070,2003-06-05,6.3,4211.0,"Jun 6, 2003","$76,000,000",NaN,"$236,410,607","$127,120,058",NaN,NaN,NaN,2 Fast 2 Furious
40,2012,False,"[Action, Adventure, Science Fiction]",en,16.401,2009-10-10,5.7,8352.0,"Nov 12, 2009","$200,000,000",NaN,"$757,677,748","$166,112,167",NaN,NaN,NaN,2012
41,20th Century Women,False,[Drama],en,12.580,2016-12-28,7.4,610.0,NaN,NaN,237.0,"$7,214,806","$5,664,764",78.5%,"$1,550,042",21.5%,20th Century Women
63,300,False,"[Action, Adventure, War]",en,15.826,2007-03-07,7.1,8993.0,"Mar 9, 2007","$60,000,000",NaN,"$454,161,935","$210,614,939",NaN,NaN,NaN,300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6863,You've Got Mail,False,"[Comedy, Romance]",en,13.186,1998-12-17,6.6,1894.0,"Dec 18, 1998","$65,000,000",NaN,"$250,800,000","$115,821,495",NaN,NaN,NaN,You've Got Mail
6867,Your Name.,False,"[Animation, Drama, Romance]",ja,33.007,2016-08-26,8.5,5018.0,NaN,NaN,22.0,"$358,922,706","$5,017,246",1.4%,"$353,905,460",98.6%,Your Name.
6888,Zodiac,False,"[Crime, Drama, Mystery, Thriller]",en,15.738,2007-03-02,7.5,5308.0,"Mar 2, 2007","$85,000,000",NaN,"$83,080,084","$33,080,084",NaN,NaN,NaN,Zodiac
6896,Zootopia,False,"[Animation, Adventure, Family, Comedy]",en,44.800,2016-02-11,7.7,11107.0,"Feb 10, 2016","$150,000,000",4.0,"$1,023,784,195","$341,268,248",33.3%,"$682,515,947",66.7%,Zootopia
6899,xXx,False,"[Action, Adventure, Mystery, Thriller]",en,13.578,2002-08-09,5.9,2666.0,"Aug 9, 2002","$70,000,000",NaN,"$267,200,000","$141,930,000",NaN,NaN,NaN,xXx