# Creating BeautifulSoup objects for HTML

In [1]:
import pandas as pd

import requests
from bs4 import BeautifulSoup

In [2]:
#url = "https://www.boxofficemojo.com/intl/?ref_=bo_nb_ydw_tab"
#W2019="https://www.boxofficemojo.com/year/world/2019/"
#W2018="https://www.boxofficemojo.com/year/world/2018/"
#W2017="https://www.boxofficemojo.com/year/world/2017/"
#W2016="https://www.boxofficemojo.com/year/world/2016/"
W2015="https://www.boxofficemojo.com/year/world/2015/"
res = requests.get(W2015)

In [3]:
print(res.raise_for_status())#raise an error for unsucessfull status
soup = BeautifulSoup(res.text)#beautifulSoup-python package for parsing HTML and XML

None

In [10]:
print(soup)

In [11]:
res.text #gives raw form of the HTML code

In [12]:
print(soup.prettify())#gives a readble form of the HTML code

# Reading HTML tables for the years 2015-2019

In [4]:
#pd.read_html(url_domestic)[0]
#pd.read_html(W2019)[0]
#pd.read_html(W2018)[0]
# pd.read_html(W2017)[0]
pd.read_html(W2015)[0] #Read HTML Tables into list of dataframe objects

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,Star Wars: Episode VII - The Force Awakens,"$2,068,223,624","$936,662,225",45.3%,"$1,131,561,399",54.7%
1,2,Jurassic World,"$1,670,400,637","$652,270,625",39%,"$1,018,130,012",61%
2,3,Furious 7,"$1,515,047,671","$353,007,020",23.3%,"$1,162,040,651",76.7%
3,4,Avengers: Age of Ultron,"$1,402,805,868","$459,005,868",32.7%,"$943,800,000",67.3%
4,5,Minions,"$1,159,398,397","$336,045,770",29%,"$823,352,627",71%
...,...,...,...,...,...,...,...
729,730,It's All So Quiet 2015 Re-release,$724,$724,100%,-,-
730,731,It's Hard Being Loved by Jerks 2015 Re-release,$697,$697,100%,-,-
731,732,The 11th Hour,$510,-,-,$510,100%
732,733,Paranoid Girls,$78,$78,100%,-,-
733,734,Confession of a Child of the Century 2015 Re-r...,$74,$74,100%,-,-

# Converting the collected data into CSV files for data merging and cleaning

In [5]:
#df2019 = pd.read_html(url2)[0]
#dfW2019 = pd.read_html(W2019)[0]
# dfW2018 = pd.read_html(W2018)[0]
dfW2015 = pd.read_html(W2015)[0]

In [75]:
#df2019.to_csv('2019_world_wide_box_office.csv')
#dfW2019.to_csv('2019WWBoxOffice.csv')
# dfW2018.to_csv('2018WWBoxOffice.csv')
dfW2015.to_csv('2015WWBoxOffice.csv')#Converting into CSV files

In [ ]:
# In [4]: frames = [df1, df2, df3]

# In [5]: result = pd.concat(frames)

In [76]:
dfMerge = [dfW2015,dfW2016,dfW2017,dfW2018,dfW2019]
result=pd.concat(dfMerge)#merging the data to convert them into a single CSV file

In [77]:
result.to_csv('2015_2019WorldWideBoxOffice.csv')#Converting the merged data into single CSV file