In [1]:
import json
import requests
import pandas as pd

# Define a function for openning the json
def get_keys(path):
    with open(path) as f:
        return json.load(f)

# Using the function to open and load all keys in that file 
api_keys = get_keys("/Users/ezgi/.secret_the_movie/movie_api.json")

# Setting the first (and only) value as a variable
ds_key_1 = list(api_keys.values())[0]

In [2]:
# url = f'https://api.themoviedb.org/3/discover/movie?api_key={ds_key_1}&primary_release_year=2019&sort_by=revenue.des

url = f'https://api.themoviedb.org/3/movie/top_rated?api_key={ds_key_1}&language=en-US&page=1'
                     
              
              
              
              # for yearly highest revenue for 2019

In [3]:
ds_r = requests.get(url)

In [4]:
df = pd.DataFrame.from_dict(ds_r.json()['results'])
print(len(df)) #Print how many rows
print(df.columns) #Print column names
df

20
Index(['popularity', 'vote_count', 'video', 'poster_path', 'id', 'adult',
       'backdrop_path', 'original_language', 'original_title', 'genre_ids',
       'title', 'vote_average', 'overview', 'release_date'],
      dtype='object')

,popularity,vote_count,video,poster_path,id,adult,backdrop_path,original_language,original_title,genre_ids,title,vote_average,overview,release_date
0,21.867,2214,False,/2CAL2433ZeIihfX1Hb2139CX0pW.jpg,19404,False,/pVGzV02qmHVoKx9ehBNy7m2u5fs.jpg,hi,दिलवाले दुल्हनिया ले जायेंगे,"[35, 18, 10749]",Dilwale Dulhania Le Jayenge,8.8,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20
1,36.004,15047,False,/9O7gLzmreU0nGkIB6K3BsJbzvNv.jpg,278,False,/65nAfGikljrOkfIrcfmrNTJTAXF.jpg,en,The Shawshank Redemption,"[18, 80]",The Shawshank Redemption,8.7,Framed in the 1940s for the double murder of h...,1994-09-23
2,29.365,11487,False,/d4KNaTrltq6bpkFS01pYtyXa09m.jpg,238,False,/6xKCYgH16UuwEGAyroLU6p8HLIn.jpg,en,The Godfather,"[80, 18]",The Godfather,8.7,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14
3,148.987,4756,False,/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg,496243,False,/TU9NIjwzjoKPwQHoHshkFcQUCG.jpg,ko,기생충,"[35, 18, 53]",Parasite,8.6,"All unemployed, Ki-taek's family takes peculia...",2019-05-30
4,23.746,9163,False,/yPisjyLweCl1tbgwgtzBCNCBle.jpg,424,False,/cTNYRUTXkBgPH3wP3kmPUB5U6dA.jpg,en,Schindler's List,"[18, 36, 10752]",Schindler's List,8.6,The true story of how businessman Oskar Schind...,1993-11-30
5,21.992,6754,False,/bVq65huQ8vHDd1a4Z37QtuyEvpA.jpg,240,False,/gLbBRyS7MBrmVUNce91Hmx9vzqI.jpg,en,The Godfather: Part II,"[80, 18]",The Godfather: Part II,8.5,In the continuing saga of the Corleone crime f...,1974-12-20
6,33.007,5018,False,/xq1Ugd62d23K2knRUx6xxuALTZB.jpg,372058,False,/7OMAfDJikBxItZBIug0NJig5DHD.jpg,ja,君の名は。,"[16, 18, 10749]",Your Name.,8.5,High schoolers Mitsuha and Taki are complete s...,2016-08-26
7,39.522,8569,False,/oRvMaJOmapypFUcQqpgHMZA6qL9.jpg,129,False,/mnpRKVSXBX6jb56nabvmGKA0Wig.jpg,ja,千と千尋の神隠し,"[16, 14, 10751]",Spirited Away,8.5,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20
8,22.835,9500,False,/sOHqdY1RnSn6kcfAHKu28jvTebE.jpg,497,False,/Rlt20sEbOQKPVjia7lUilFm49W.jpg,en,The Green Mile,"[14, 18, 80]",The Green Mile,8.5,A supernatural tale set on death row in a Sout...,1999-12-10
9,33.662,17549,False,/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg,680,False,/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg,en,Pulp Fiction,"[80, 53]",Pulp Fiction,8.5,"A burger-loving hit man, his philosophical par...",1994-09-10
10,18.861,8243,False,/f7DImXDebOs148U4uPjI61iDvaK.jpg,637,False,/bORe0eI72D874TMawOOFvqWS6Xe.jpg,it,La vita è bella,"[35, 18]",Life Is Beautiful,8.5,A touching story of an Italian book seller of ...,1997-12-20
11,28.383,16934,False,/yE5d3BUhE8hCnkMUJOo1QDoOGNz.jpg,13,False,/tNVTWNa8cxZLw7aWvHzSDLyc7ig.jpg,en,Forrest Gump,"[35, 18, 10749]",Forrest Gump,8.4,A man with a low IQ has accomplished great thi...,1994-07-06
12,31.704,21095,False,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,155,False,/hqkIcbrOHL86UncnHIsHVcVmzue.jpg,en,The Dark Knight,"[28, 80, 18, 53]",The Dark Knight,8.4,Batman raises the stakes in his war on crime. ...,2008-07-16
13,30.435,14704,False,/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg,122,False,/8BPZO0Bf8TeAy8znF43z8soK3ys.jpg,en,The Lord of the Rings: The Return of the King,"[28, 12, 14]",The Lord of the Rings: The Return of the King,8.4,Aragorn is revealed as the heir to the ancient...,2003-12-01
14,17.811,1727,False,/v6xrz4fr92KY1oNC3HsEvrsvR1n.jpg,346,False,/61vLiK96sbXeHpQiMxI4CuqBA3z.jpg,ja,七人の侍,"[28, 18]",Seven Samurai,8.4,A samurai answers a village's request for prot...,1954-04-26
15,24.006,2671,False,/x733R4ISI0RbKeHhVkXdTMFmTFr.jpg,311,False,/vnT6HzjLSDrAweHn9xWykb8Ii6T.jpg,en,Once Upon a Time in America,"[18, 80]",Once Upon a Time in America,8.4,A former Prohibition-era Jewish gangster retur...,1984-05-23
16,24.381,6735,False,/pwpGfTImTGifEGgLb3s6LRPd4I6.jpg,769,False,/sw7mordbZxgITU877yTpZCud90M.jpg,en,GoodFellas,"[18, 80]",GoodFellas,8.4,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12
17,9.109,568,False,/imcOp1kJsCsAFCoOtY5OnPrFbAf.jpg,40096,False,/alQqTpmEkxSLgajfEYTsTH6nAKB.jpg,pt,O Auto da Compadecida,"[12, 35]",A Dog's Will,8.4,The lively João Grilo and the sly Chicó are po...,2000-09-15
18,22.367,5795,False,/81d8oyEFgj7FlxJqSDXWr8JH8kV.jpg,539,False,/3md49VBCeqY6MSNyAVY6d5eC6bA.jpg,en,Psycho,"[18, 27, 53]",Psycho,8.4,When larcenous real estate clerk Marion Crane ...,1960-06-22
19,20.325,4362,False,/3W0v956XxSG5xgm7LB6qu8ExYJ2.jpg,389,False,/lH2Ga8OzjU1XlxJ73shOlPx6cRw.jpg,en,12 Angry Men,[18],12 Angry Men,8.4,The defense and the prosecution have rested an...,1957-04-10

In [5]:
highest_revenue = ds_r.json() # store parsed json response

# uncomment the next line to get a peek at the highest_revenue json structure
# highest_revenue

highest_revenue_films = highest_revenue['results']

In [6]:
columns = ['id','film', 'revenue','genres','vote_count','vote_average','release_date','original_language',
           'orijinal_title','popularity']


# create dataframe with film and revenue columns
df_1= pd.DataFrame(columns=columns)

In [7]:
for film in highest_revenue_films:
    # print(film['title'])
    film_revenue = requests.get('https://api.themoviedb.org/3/movie/'+ str(film['id']) +'?api_key='+ ds_key_1+'&language=en-US')
    film_revenue = film_revenue.json()
    #print(locale.currency(film_revenue['revenue'], grouping=True ))
    df_1.loc[len(df_1)]=[film['id'],film['title'],film_revenue['revenue'],film['genre_ids'],film['vote_count'],
                         film['vote_average'],film['release_date'],film['original_language'],film['original_title'],
                          film['popularity']]


# create dataframe with film and revenue columns
df_1

,id,film,revenue,genres,vote_count,vote_average,release_date,original_language,orijinal_title,popularity
0,19404,Dilwale Dulhania Le Jayenge,100000000,"[35, 18, 10749]",2214,8.8,1995-10-20,hi,दिलवाले दुल्हनिया ले जायेंगे,21.867
1,278,The Shawshank Redemption,28341469,"[18, 80]",15047,8.7,1994-09-23,en,The Shawshank Redemption,36.004
2,238,The Godfather,245066411,"[80, 18]",11487,8.7,1972-03-14,en,The Godfather,29.365
3,496243,Parasite,201055038,"[35, 18, 53]",4756,8.6,2019-05-30,ko,기생충,148.987
4,424,Schindler's List,321365567,"[18, 36, 10752]",9163,8.6,1993-11-30,en,Schindler's List,23.746
5,240,The Godfather: Part II,102600000,"[80, 18]",6754,8.5,1974-12-20,en,The Godfather: Part II,21.992
6,372058,Your Name.,357986087,"[16, 18, 10749]",5018,8.5,2016-08-26,ja,君の名は。,33.007
7,129,Spirited Away,274925095,"[16, 14, 10751]",8569,8.5,2001-07-20,ja,千と千尋の神隠し,39.522
8,497,The Green Mile,286801374,"[14, 18, 80]",9500,8.5,1999-12-10,en,The Green Mile,22.835
9,680,Pulp Fiction,214179088,"[80, 53]",17549,8.5,1994-09-10,en,Pulp Fiction,33.662
10,637,Life Is Beautiful,229400000,"[35, 18]",8243,8.5,1997-12-20,it,La vita è bella,18.861
11,13,Forrest Gump,677387716,"[35, 18, 10749]",16934,8.4,1994-07-06,en,Forrest Gump,28.383
12,155,The Dark Knight,1004558444,"[28, 80, 18, 53]",21095,8.4,2008-07-16,en,The Dark Knight,31.704
13,122,The Lord of the Rings: The Return of the King,1118888979,"[28, 12, 14]",14704,8.4,2003-12-01,en,The Lord of the Rings: The Return of the King,30.435
14,346,Seven Samurai,271841,"[28, 18]",1727,8.4,1954-04-26,ja,七人の侍,17.811
15,311,Once Upon a Time in America,5300000,"[18, 80]",2671,8.4,1984-05-23,en,Once Upon a Time in America,24.006
16,769,GoodFellas,46836394,"[18, 80]",6735,8.4,1990-09-12,en,GoodFellas,24.381
17,40096,A Dog's Will,0,"[12, 35]",568,8.4,2000-09-15,pt,O Auto da Compadecida,9.109
18,539,Psycho,32000000,"[18, 27, 53]",5795,8.4,1960-06-22,en,Psycho,22.367
19,389,12 Angry Men,1000000,[18],4362,8.4,1957-04-10,en,12 Angry Men,20.325

In [8]:
url_2 = f'https://api.themoviedb.org/3/movie/top_rated?api_key={ds_key_1}&language=en-US&page=2'

In [9]:
ds_r_2 = requests.get(url_2)

In [10]:
df_2 = pd.DataFrame.from_dict(ds_r_2.json()['results'])

In [11]:
highest_revenue_2 = ds_r_2.json() 
highest_revenue_films_2 = highest_revenue_2['results']

In [12]:
columns = ['id','film', 'revenue','genres','vote_count','vote_average','release_date','original_language',
           'orijinal_title','popularity']
df_2= pd.DataFrame(columns=columns)

In [13]:
for film in highest_revenue_films_2:
    # print(film['title'])
    film_revenue_1 = requests.get('https://api.themoviedb.org/3/movie/'+ str(film['id']) +'?api_key='+ ds_key_1+'&language=en-US')
    film_revenue_1= film_revenue_1.json()
    #print(locale.currency(film_revenue['revenue'], grouping=True ))
    df_2.loc[len(df_2)]=[film['id'],film['title'],film_revenue_1['revenue'],film['genre_ids'],film['vote_count'],
                         film['vote_average'],film['release_date'],film['original_language'],film['original_title'],
                          film['popularity']]
# df_2

In [26]:
df_2

,id,film,revenue,genres,vote_count,vote_average,release_date,original_language,orijinal_title,popularity
0,429,"The Good, the Bad and the Ugly",25100000,[37],4683,8.4,1966-12-23,it,"Il buono, il brutto, il cattivo",20.430
1,510,One Flew Over the Cuckoo's Nest,108981275,[18],6278,8.4,1975-11-18,en,One Flew Over the Cuckoo's Nest,15.779
2,550,Fight Club,100853753,[18],18248,8.4,1999-10-15,en,Fight Club,36.276
3,324857,Spider-Man: Into the Spider-Verse,375450417,"[28, 12, 16, 35, 878]",6424,8.4,2018-12-06,en,Spider-Man: Into the Spider-Verse,44.866
4,11216,Cinema Paradiso,11990401,"[18, 10749]",2077,8.4,1988-11-17,it,Nuovo Cinema Paradiso,18.800
5,598,City of God,30641770,"[80, 18]",3888,8.4,2002-02-05,pt,Cidade de Deus,16.551
6,579245,The Specials,0,"[35, 18]",216,8.4,2019-10-23,fr,Hors Normes,23.133
7,244786,Whiplash,13092000,"[18, 10402]",9079,8.4,2014-10-10,en,Whiplash,37.415
8,901,City Lights,19181,"[35, 18, 10749]",1051,8.4,1931-02-01,xx,City Lights,13.565
9,599,Sunset Boulevard,5000000,[18],1246,8.4,1950-08-10,en,Sunset Boulevard,15.553
10,12477,Grave of the Fireflies,0,"[16, 18, 10752]",2449,8.4,1988-04-16,ja,火垂るの墓,0.600
11,18491,Neon Genesis Evangelion: The End of Evangelion,20000000,"[18, 878, 16]",483,8.4,1997-07-19,ja,新世紀エヴァンゲリオン劇場版 THE END OF EVANGELION,14.879
12,73,American History X,23875127,[18],6868,8.4,1998-10-30,en,American History X,33.809
13,914,The Great Dictator,11000000,[35],1738,8.4,1940-10-15,en,The Great Dictator,14.358
14,432517,Sherlock: The Final Problem,0,"[18, 9648]",764,8.4,2017-01-15,en,Sherlock: The Final Problem,9.468
15,1891,The Empire Strikes Back,538400000,"[28, 12, 878]",10953,8.4,1980-05-20,en,The Empire Strikes Back,21.553
16,3782,Ikiru,55240,[18],459,8.4,1952-10-09,ja,生きる,10.460
17,4935,Howl's Moving Castle,236049757,"[12, 16, 14]",4554,8.4,2004-11-19,ja,ハウルの動く城,24.681
18,18148,Tokyo Story,0,[18],431,8.4,1953-11-03,ja,東京物語,14.974
19,128,Princess Mononoke,159375308,"[12, 16, 14]",4282,8.4,1997-07-12,ja,もののけ姫,21.634

In [14]:
url_3 = f'https://api.themoviedb.org/3/movie/top_rated?api_key={ds_key_1}&language=en-US&page=3'
ds_r_3 = requests.get(url_3)
df_3 = pd.DataFrame.from_dict(ds_r_3.json()['results'])
highest_revenue_3 = ds_r_3.json() 
highest_revenue_films_3 = highest_revenue_3['results']
columns = ['id','film', 'revenue','genres','vote_count','vote_average','release_date','original_language',
           'orijinal_title','popularity']
df_3= pd.DataFrame(columns=columns)
for film in highest_revenue_films_3:
    # print(film['title'])
    film_revenue_3 = requests.get('https://api.themoviedb.org/3/movie/'+ str(film['id']) +'?api_key='+ ds_key_1+'&language=en-US')
    film_revenue_3= film_revenue_3.json()
    #print(locale.currency(film_revenue['revenue'], grouping=True ))
    df_3.loc[len(df_3)]=[film['id'],film['title'],film_revenue_3['revenue'],film['genre_ids'],film['vote_count'],
                         film['vote_average'],film['release_date'],film['original_language'],film['original_title'],
                          film['popularity']]
    
df_3

,id,film,revenue,genres,vote_count,vote_average,release_date,original_language,orijinal_title,popularity
0,11659,The Best of Youth,2693053,"[18, 10749]",261,8.4,2003-06-22,it,La meglio gioventú,8.792
1,508965,Klaus,0,"[12, 16, 35, 10751]",1401,8.3,2019-11-08,en,Klaus,21.418
2,313106,Doctor Who: The Day of the Doctor,0,"[12, 878]",545,8.4,2013-11-23,en,Doctor Who: The Day of the Doctor,11.490
3,567,Rear Window,36764313,"[18, 9648, 53]",3399,8.3,1954-09-01,en,Rear Window,16.323
4,452522,Twin Peaks,0,"[18, 9648, 80]",348,8.3,1989-12-31,en,Twin Peaks,7.736
5,975,Paths of Glory,0,"[18, 10752]",1385,8.3,1957-09-18,en,Paths of Glory,13.525
6,14537,Harakiri,0,"[28, 18, 36]",314,8.3,1962-09-15,ja,切腹,12.599
7,207,Dead Poets Society,235860116,[18],6685,8.3,1989-06-02,en,Dead Poets Society,15.606
8,265177,Mommy,3494070,[18],1620,8.3,2014-05-22,en,Mommy,12.436
9,423,The Pianist,120072577,"[18, 10752]",4791,8.3,2002-09-17,en,The Pianist,17.072
10,10376,The Legend of 1900,0,"[18, 10402, 10749]",1287,8.3,1998-10-28,it,La leggenda del pianista sull'oceano,11.555
11,797,Persona,0,[18],911,8.3,1966-10-18,sv,Persona,15.848
12,12493,High and Low,0,"[80, 18, 9648, 53]",268,8.3,1963-03-01,ja,天国と地獄,10.181
13,20914,My Friends,0,[35],365,8.3,1975-08-15,it,Amici miei,9.195
14,26451,Investigation of a Citizen Above Suspicion,0,"[80, 18]",300,8.3,1970-11-13,it,Indagine su un cittadino al di sopra di ogni s...,8.239
15,120,The Lord of the Rings: The Fellowship of the Ring,871368364,"[28, 12, 14]",16105,8.3,2001-12-18,en,The Lord of the Rings: The Fellowship of the Ring,35.596
16,3082,Modern Times,8500000,"[35, 18]",2014,8.3,1936-02-05,en,Modern Times,16.793
17,101,Léon: The Professional,45284974,"[80, 18, 28]",8789,8.3,1994-09-14,en,Léon: The Professional,24.288
18,25237,Come and See,0,"[18, 36, 10752]",412,8.3,1985-07-01,ru,Иди и смотри,13.367
19,807,Se7en,327311859,"[80, 9648, 53]",12154,8.3,1995-09-22,en,Se7en,27.857

In [15]:
url_4 = f'https://api.themoviedb.org/3/movie/top_rated?api_key={ds_key_1}&language=en-US&page=4'
ds_r_4 = requests.get(url_4)
df_4 = pd.DataFrame.from_dict(ds_r_4.json()['results'])
highest_revenue_4 = ds_r_4.json() 
highest_revenue_films_4 = highest_revenue_4['results']
columns = ['id','film', 'revenue','genres','vote_count','vote_average','release_date','original_language',
           'orijinal_title','popularity']
df_4= pd.DataFrame(columns=columns)
for film in highest_revenue_films_4:
    # print(film['title'])
    film_revenue_4 = requests.get('https://api.themoviedb.org/3/movie/'+ str(film['id']) +'?api_key='+ ds_key_1+'&language=en-US')
    film_revenue_4= film_revenue_4.json()
    #print(locale.currency(film_revenue['revenue'], grouping=True ))
    df_4.loc[len(df_4)]=[film['id'],film['title'],film_revenue_4['revenue'],film['genre_ids'],film['vote_count'],
                         film['vote_average'],film['release_date'],film['original_language'],film['original_title'],
                          film['popularity']]
    
df_4

,id,film,revenue,genres,vote_count,vote_average,release_date,original_language,orijinal_title,popularity
0,531428,Portrait of a Lady on Fire,0,"[18, 10749]",337,8.3,2019-06-17,fr,Portrait de la jeune fille en feu,34.005
1,27205,Inception,825532764,"[28, 12, 878]",24665,8.3,2010-07-15,en,Inception,39.570
2,290098,The Handmaiden,37767206,"[18, 53, 10749]",1557,8.3,2016-06-01,ko,아가씨,19.915
3,895,Andrei Rublev,0,"[18, 36]",334,8.3,1966-12-16,ru,Андрей Рублёв,11.583
4,24188,Il Sorpasso,0,"[35, 18]",296,8.3,1962-12-04,it,Il sorpasso,9.018
5,274,The Silence of the Lambs,272742922,"[80, 18, 53, 27]",9659,8.3,1991-02-01,en,The Silence of the Lambs,5.221
6,121,The Lord of the Rings: The Two Towers,926287400,"[12, 14, 28]",13897,8.3,2002-12-18,en,The Lord of the Rings: The Two Towers,29.238
7,335,Once Upon a Time in the West,5321508,[37],2361,8.3,1968-12-21,it,C'era una volta il West,19.355
8,37257,Witness for the Prosecution,9000000,"[80, 18, 9648]",599,8.3,1957-12-17,en,Witness for the Prosecution,12.277
9,299534,Avengers: Endgame,2797800564,"[28, 12, 878]",11389,8.3,2019-04-24,en,Avengers: Endgame,38.570
10,1398,Stalker,0,"[18, 878]",888,8.3,1979-05-25,ru,Сталкер,13.187
11,24382,Big Deal on Madonna Street,0,"[35, 80]",326,8.3,1958-06-06,it,I soliti ignoti,9.800
12,490132,Green Book,319700000,"[35, 18]",5486,8.3,2018-11-16,en,Green Book,21.881
13,517814,Capernaum,64978931,[18],622,8.3,2018-10-06,ar,کفرناحوم,19.380
14,455661,In a Heartbeat,0,"[16, 35, 10749, 10751]",762,8.3,2017-06-01,en,In a Heartbeat,6.912
15,398818,Call Me by Your Name,41063475,"[10749, 18]",6112,8.3,2017-09-01,en,Call Me by Your Name,20.756
16,157336,Interstellar,675120017,"[12, 18, 878]",20995,8.3,2014-11-05,en,Interstellar,42.061
17,470044,The Hate U Give,29163535,"[80, 18]",969,8.3,2018-10-19,en,The Hate U Give,12.181
18,422,8½,0,"[14, 18]",1080,8.3,1963-02-14,it,8½,14.477
19,299536,Avengers: Infinity War,2046239637,"[28, 12, 878]",16897,8.3,2018-04-25,en,Avengers: Infinity War,84.768

In [16]:
url_5 = f'https://api.themoviedb.org/3/movie/top_rated?api_key={ds_key_1}&language=en-US&page=5'
ds_r_5 = requests.get(url_5)
df_5 = pd.DataFrame.from_dict(ds_r_5.json()['results'])
highest_revenue_5 = ds_r_5.json() 
highest_revenue_films_5 = highest_revenue_5['results']
columns = ['id','film', 'revenue','genres','vote_count','vote_average','release_date','original_language',
           'orijinal_title','popularity']
df_5= pd.DataFrame(columns=columns)
for film in highest_revenue_films_5:
    # print(film['title'])
    film_revenue_5 = requests.get('https://api.themoviedb.org/3/movie/'+ str(film['id']) +'?api_key='+ ds_key_1+'&language=en-US')
    film_revenue_5= film_revenue_5.json()
    #print(locale.currency(film_revenue['revenue'], grouping=True ))
    df_5.loc[len(df_5)]=[film['id'],film['title'],film_revenue_5['revenue'],film['genre_ids'],film['vote_count'],
                         film['vote_average'],film['release_date'],film['original_language'],film['original_title'],
                          film['popularity']]
    
df_5

,id,film,revenue,genres,vote_count,vote_average,release_date,original_language,orijinal_title,popularity
0,446159,Bacurau,0,"[9648, 53, 37]",315,8.3,2019-08-29,pt,Bacurau,13.360
1,28,Apocalypse Now,150000000,"[18, 10752]",4584,8.3,1979-08-15,en,Apocalypse Now,22.847
2,378064,A Silent Voice,310407,"[18, 16, 10749]",1377,8.3,2016-09-17,ja,聲の形,13.315
3,8587,The Lion King,987483777,"[16, 18, 10751]",11693,8.3,1994-05-07,en,The Lion King,31.593
4,105,Back to the Future,381109762,"[12, 35, 878, 10751]",12362,8.3,1985-07-03,en,Back to the Future,25.038
5,284,The Apartment,25000000,"[35, 18, 10749]",1063,8.3,1960-06-15,en,The Apartment,11.819
6,10098,The Kid,2500000,"[35, 18]",999,8.3,1921-02-06,en,The Kid,11.372
7,5156,Bicycle Thieves,361712,[18],1118,8.2,1948-11-24,it,Ladri di biciclette,13.013
8,475557,Joker,1073698955,"[80, 18, 53]",9548,8.2,2019-10-02,en,Joker,98.649
9,426,Vertigo,28000000,"[9648, 53, 10749]",2947,8.2,1958-05-09,en,Vertigo,15.467
10,992,"Sherlock, Jr.",0,"[28, 35, 9648]",371,8.2,1924-04-19,en,"Sherlock, Jr.",13.501
11,77338,The Intouchables,426480871,"[35, 18]",11064,8.2,2011-11-02,fr,Intouchables,18.793
12,670,Oldboy,14980005,"[28, 18, 9648, 53]",4368,8.2,2003-11-21,ko,올드보이,21.717
13,1585,It's a Wonderful Life,9644124,"[18, 14, 10751]",2291,8.2,1946-12-20,en,It's a Wonderful Life,16.861
14,705,All About Eve,150438,[18],801,8.2,1950-10-06,en,All About Eve,9.603
15,110420,Wolf Children,0,"[16, 18, 14, 10751]",1218,8.2,2012-07-21,ja,おおかみこどもの雨と雪,17.374
16,490,The Seventh Seal,0,"[18, 14]",1391,8.2,1957-02-16,sv,Det sjunde inseglet,13.340
17,629,The Usual Suspects,23341568,"[18, 80, 53]",6322,8.2,1995-07-19,en,The Usual Suspects,17.927
18,19,Metropolis,650422,"[18, 878]",1371,8.2,1927-01-10,de,Metropolis,18.035
19,11,Star Wars,775398007,"[28, 12, 878]",12970,8.2,1977-05-25,en,Star Wars,41.110

In [17]:
url_6 = f'https://api.themoviedb.org/3/movie/top_rated?api_key={ds_key_1}&language=en-US&page=6'
ds_r_6 = requests.get(url_6)
df_6 = pd.DataFrame.from_dict(ds_r_6.json()['results'])
highest_revenue_6 = ds_r_6.json() 
highest_revenue_films_6 = highest_revenue_6['results']
columns = ['id','film', 'revenue','genres','vote_count','vote_average','release_date','original_language',
           'orijinal_title','popularity']
df_6= pd.DataFrame(columns=columns)
for film in highest_revenue_films_6:
    # print(film['title'])
    film_revenue_6 = requests.get('https://api.themoviedb.org/3/movie/'+ str(film['id']) +'?api_key='+ ds_key_1+'&language=en-US')
    film_revenue_6= film_revenue_6.json()
    #print(locale.currency(film_revenue['revenue'], grouping=True ))
    df_6.loc[len(df_6)]=[film['id'],film['title'],film_revenue_6['revenue'],film['genre_ids'],film['vote_count'],
                         film['vote_average'],film['release_date'],film['original_language'],film['original_title'],
                          film['popularity']]
    
df_6

,id,film,revenue,genres,vote_count,vote_average,release_date,original_language,orijinal_title,popularity
0,185,A Clockwork Orange,26589000,"[18, 878]",7789,8.2,1971-12-18,en,A Clockwork Orange,20.022
1,406997,Wonder,0,[18],4667,8.2,2017-11-13,en,Wonder,23.794
2,538362,On My Skin,0,[18],1272,8.2,2018-08-29,it,Sulla mia pelle,9.821
3,354912,Coco,800526015,"[16, 10751, 35, 12, 14]",10352,8.2,2017-10-27,en,Coco,23.123
4,694,The Shining,44781695,"[27, 53]",10200,8.2,1980-05-22,en,The Shining,23.727
5,586863,Les Misérables,0,"[80, 18, 53]",286,8.2,2019-11-14,fr,Les Misérables,13.271
6,437068,A Taxi Driver,81927980,"[28, 18, 36]",216,8.2,2017-08-02,ko,택시운전사,9.550
7,38288,I Corti,0,[],276,8.2,1996-01-01,it,I Corti,7.216
8,77,Memento,39723096,"[9648, 53]",8860,8.2,2000-10-11,en,Memento,19.091
9,10494,Perfect Blue,112536,"[16, 53]",840,8.2,1997-07-25,ja,パーフェクトブルー,16.486
10,11878,Yojimbo,0,"[18, 53]",664,8.2,1961-04-25,ja,用心棒,17.304
11,996,Double Indemnity,2500000,"[80, 9648, 53]",871,8.2,1944-07-03,en,Double Indemnity,13.519
12,548,Rashomon,96568,"[80, 18, 9648]",1021,8.2,1950-08-26,ja,羅生門,12.955
13,103,Taxi Driver,28262574,"[80, 18]",6265,8.2,1976-02-07,en,Taxi Driver,21.324
14,411088,The Invisible Guest,30000000,"[80, 9648, 53]",2095,8.2,2016-09-22,es,Contratiempo,16.268
15,239,Some Like It Hot,25000000,"[35, 10749]",1826,8.2,1959-03-19,en,Some Like It Hot,14.585
16,339877,Loving Vincent,6735118,"[16, 18, 9648]",1451,8.2,2017-06-22,en,Loving Vincent,13.390
17,780,The Passion of Joan of Arc,0,"[18, 36]",406,8.2,1928-04-21,fr,La passion de Jeanne d'Arc,13.520
18,614,Wild Strawberries,0,[18],723,8.2,1957-12-26,sv,Smultronstället,13.733
19,429210,Bingo: The King of the Mornings,0,"[35, 18]",211,8.2,2017-08-24,pt,Bingo - O Rei das Manhãs,5.979

In [18]:
url_7 = f'https://api.themoviedb.org/3/movie/top_rated?api_key={ds_key_1}&language=en-US&page=7'
ds_r_7 = requests.get(url_7)
df_7 = pd.DataFrame.from_dict(ds_r_7.json()['results'])
highest_revenue_7 = ds_r_7.json() 
highest_revenue_films_7 = highest_revenue_7['results']
columns = ['id','film', 'revenue','genres','vote_count','vote_average','release_date','original_language',
           'orijinal_title','popularity']
df_7= pd.DataFrame(columns=columns)
for film in highest_revenue_films_7:
    # print(film['title'])
    film_revenue_7 = requests.get('https://api.themoviedb.org/3/movie/'+ str(film['id']) +'?api_key='+ ds_key_1+'&language=en-US')
    film_revenue_7= film_revenue_7.json()
    #print(locale.currency(film_revenue['revenue'], grouping=True ))
    df_7.loc[len(df_7)]=[film['id'],film['title'],film_revenue_7['revenue'],film['genre_ids'],film['vote_count'],
                         film['vote_average'],film['release_date'],film['original_language'],film['original_title'],
                          film['popularity']]
    
df_7

,id,film,revenue,genres,vote_count,vote_average,release_date,original_language,orijinal_title,popularity
0,19542,The Red Shoes,0,"[18, 10749]",271,8.2,1948-07-20,en,The Red Shoes,9.209
1,1124,The Prestige,109676311,"[18, 9648, 53]",9370,8.2,2006-10-19,en,The Prestige,20.341
2,1396,Mirror,0,"[18, 36]",401,8.2,1975-03-07,ru,Зеркало,15.196
3,399106,Piper,0,"[10751, 16]",959,8.2,2016-06-16,en,Piper,9.805
4,872,Singin' in the Rain,7200000,"[35, 10402, 10749]",1643,8.2,1952-04-09,en,Singin' in the Rain,14.114
5,500,Reservoir Dogs,2859750,"[80, 53]",8559,8.2,1992-09-02,en,Reservoir Dogs,23.472
6,439,La Dolce Vita,19516000,"[35, 18]",864,8.2,1960-02-05,it,La dolce vita,12.719
7,935,Dr. Strangelove or: How I Learned to Stop Worr...,9440272,"[35, 18, 10752]",3177,8.2,1964-01-29,en,Dr. Strangelove or: How I Learned to Stop Worr...,15.437
8,14696,Ugetsu,0,"[18, 14, 9648]",230,8.2,1953-03-26,ja,雨月物語,11.051
9,16869,Inglourious Basterds,321455689,"[18, 28, 53, 10752]",13787,8.2,2009-08-18,en,Inglourious Basterds,24.295
10,359940,"Three Billboards Outside Ebbing, Missouri",158526998,"[80, 18]",6270,8.2,2017-11-10,en,"Three Billboards Outside Ebbing, Missouri",15.623
11,147,The 400 Blows,0,[18],947,8.1,1959-05-04,fr,Les Quatre Cents Coups,14.269
12,28978,The Circus,0,"[35, 10749]",336,8.1,1928-01-06,en,The Circus,10.151
13,334543,Lion,140312928,[18],4396,8.1,2016-11-24,en,Lion,24.206
14,98,Gladiator,457640427,"[28, 12, 18]",10998,8.1,2000-05-01,en,Gladiator,25.580
15,282848,Doctor Who: The Time of the Doctor,0,"[18, 878, 10770]",203,8.1,2013-12-25,en,Doctor Who: The Time of the Doctor,9.302
16,832,M,0,"[28, 80, 18, 53]",1019,8.1,1931-05-11,de,M - Eine Stadt sucht einen Mörder,13.752
17,1422,The Departed,289847354,"[18, 53, 80]",9009,8.1,2006-10-05,en,The Departed,19.346
18,100,"Lock, Stock and Two Smoking Barrels",28356188,"[35, 80]",3655,8.1,1998-03-05,en,"Lock, Stock and Two Smoking Barrels",9.598
19,50014,The Help,124272124,[18],4467,8.1,2011-08-09,en,The Help,13.412

In [19]:
url_8 = f'https://api.themoviedb.org/3/movie/top_rated?api_key={ds_key_1}&language=en-US&page=8'
ds_r_8 = requests.get(url_8)
df_8 = pd.DataFrame.from_dict(ds_r_8.json()['results'])
highest_revenue_8 = ds_r_8.json() 
highest_revenue_films_8 = highest_revenue_8['results']
columns = ['id','film', 'revenue','genres','vote_count','vote_average','release_date','original_language',
           'orijinal_title','popularity']
df_8= pd.DataFrame(columns=columns)
for film in highest_revenue_films_8:
    # print(film['title'])
    film_revenue_8 = requests.get('https://api.themoviedb.org/3/movie/'+ str(film['id']) +'?api_key='+ ds_key_1+'&language=en-US')
    film_revenue_8= film_revenue_8.json()
    #print(locale.currency(film_revenue['revenue'], grouping=True ))
    df_8.loc[len(df_8)]=[film['id'],film['title'],film_revenue_8['revenue'],film['genre_ids'],film['vote_count'],
                         film['vote_average'],film['release_date'],film['original_language'],film['original_title'],
                          film['popularity']]
    
df_8

,id,film,revenue,genres,vote_count,vote_average,release_date,original_language,orijinal_title,popularity
0,515001,Jojo Rabbit,82468705,"[35, 18, 10752]",2208,8.1,2019-10-18,en,Jojo Rabbit,68.363
1,149871,The Tale of the Princess Kaguya,24186232,"[16, 18, 14]",753,8.1,2013-11-23,ja,かぐや姫の物語,17.442
2,111,Scarface,66023329,"[28, 80, 18, 53]",6285,8.1,1983-12-08,en,Scarface,19.169
3,11645,Ran,4069653,"[28, 18, 36]",697,8.1,1985-06-01,ja,乱,13.682
4,833,Umberto D.,0,[18],269,8.1,1952-01-20,it,Umberto D.,8.117
5,92321,Hotarubi no Mori e,0,"[10749, 16, 14]",330,8.1,2011-09-17,ja,蛍火の杜へ,0.600
6,92060,Michael Jackson's Thriller,0,"[27, 10402]",273,8.1,1983-11-14,en,Michael Jackson's Thriller,9.123
7,11324,Shutter Island,294804195,"[18, 9648, 53]",14504,8.1,2010-02-14,en,Shutter Island,21.170
8,961,The General,0,"[28, 12, 35]",531,8.1,1926-12-31,en,The General,11.487
9,8392,My Neighbor Totoro,0,"[16, 14, 10751]",3994,8.1,1988-04-16,ja,となりのトトロ,38.659
10,289,Casablanca,10462500,"[18, 10749]",2919,8.1,1942-01-23,en,Casablanca,18.038
11,160885,Tel chi el telùn,0,[35],241,8.1,2009-03-01,it,Tel chi el telùn,5.704
12,449176,"Love, Simon",60848932,"[35, 18, 10749]",3772,8.1,2018-02-16,en,"Love, Simon",15.427
13,1059,The Hidden Fortress,0,"[28, 12, 35, 18]",249,8.1,1958-12-28,ja,隠し砦の三悪人,11.219
14,857,Saving Private Ryan,481840909,"[18, 36, 10752]",9535,8.1,1998-07-24,en,Saving Private Ryan,20.822
15,264644,Room,35401758,"[18, 53]",6188,8.1,2015-10-16,en,Room,15.595
16,11712,Sanjuro,0,"[18, 28, 35]",258,8.1,1962-01-01,ja,椿三十郎,10.047
17,603,The Matrix,463517383,"[28, 878]",16139,8.1,1999-03-30,en,The Matrix,33.136
18,110416,Song of the Sea,857522,"[16, 14, 10751]",790,8.1,2014-09-06,en,Song of the Sea,12.018
19,237791,The Way He Looks,0,"[18, 10749]",644,8.1,2014-03-28,pt,Hoje Eu Quero Voltar Sozinho,7.395

In [20]:
url_9 = f'https://api.themoviedb.org/3/movie/top_rated?api_key={ds_key_1}&language=en-US&page=9'
ds_r_9 = requests.get(url_9)
df_9 = pd.DataFrame.from_dict(ds_r_9.json()['results'])
highest_revenue_9 = ds_r_9.json() 
highest_revenue_films_9 = highest_revenue_9['results']
columns = ['id','film', 'revenue','genres','vote_count','vote_average','release_date','original_language',
           'orijinal_title','popularity']
df_9= pd.DataFrame(columns=columns)
for film in highest_revenue_films_9:
    # print(film['title'])
    film_revenue_9 = requests.get('https://api.themoviedb.org/3/movie/'+ str(film['id']) +'?api_key='+ ds_key_1+'&language=en-US')
    film_revenue_9= film_revenue_9.json()
    #print(locale.currency(film_revenue['revenue'], grouping=True ))
    df_9.loc[len(df_9)]=[film['id'],film['title'],film_revenue_9['revenue'],film['genre_ids'],film['vote_count'],
                         film['vote_average'],film['release_date'],film['original_language'],film['original_title'],
                          film['popularity']]
    
df_9

,id,film,revenue,genres,vote_count,vote_average,release_date,original_language,orijinal_title,popularity
0,19426,Nights of Cabiria,752045,[18],305,8.1,1957-10-03,it,Le notti di Cabiria,12.113
1,655,"Paris, Texas",2181987,[18],687,8.1,1984-05-19,en,"Paris, Texas",14.231
2,600,Full Metal Jacket,46357676,"[18, 10752]",6013,8.1,1987-06-26,en,Full Metal Jacket,19.236
3,7345,There Will Be Blood,77208711,[18],3419,8.1,2007-12-28,en,There Will Be Blood,18.734
4,654,On the Waterfront,9600000,"[80, 18]",786,8.1,1954-06-22,en,On the Waterfront,13.706
5,378108,In This Corner of the World,19496308,"[18, 16, 10749, 10752, 36]",235,8.1,2016-11-12,ja,この世界の片隅に,8.070
6,11423,Memories of Murder,26000000,"[80, 18, 53]",1265,8.1,2003-05-02,ko,살인의 추억,19.776
7,10242,What Ever Happened to Baby Jane?,0,"[18, 27, 53]",521,8.1,1962-10-31,en,What Ever Happened to Baby Jane?,10.083
8,18438,Castaway on the Moon,0,"[35, 18, 10749]",321,8.1,2009-05-14,ko,김씨 표류기,7.309
9,489,Good Will Hunting,225933435,[18],6817,8.1,1997-12-05,en,Good Will Hunting,13.780
10,843,In the Mood for Love,12854953,"[18, 10749]",995,8.1,2000-05-22,cn,花樣年華,13.731
11,12445,Harry Potter and the Deathly Hallows: Part 2,1341511219,"[12, 14]",12947,8.1,2011-07-07,en,Harry Potter and the Deathly Hallows: Part 2,28.130
12,527641,Five Feet Apart,0,"[18, 10749]",1872,8.1,2019-03-15,en,Five Feet Apart,21.796
13,3090,The Treasure of the Sierra Madre,4307000,"[12, 18, 37]",565,8.1,1948-01-24,en,The Treasure of the Sierra Madre,15.071
14,46738,Incendies,0,"[18, 9648, 10752]",1193,8.1,2010-09-04,fr,Incendies,12.922
15,666,Central Station,5596708,[18],370,8.1,1998-11-20,pt,Central do Brasil,9.733
16,1955,The Elephant Man,26010864,"[18, 36]",1738,8.1,1980-10-02,en,The Elephant Man,13.226
17,324786,Hacksaw Ridge,175302354,"[18, 36, 10752]",7493,8.1,2016-10-07,en,Hacksaw Ridge,18.636
18,42229,A Special Day,0,"[18, 10749]",296,8.1,1977-08-11,it,Una giornata particolare,7.822
19,307,"Rome, Open City",0,"[18, 36]",370,8.1,1945-09-27,it,Roma città aperta,8.693

In [21]:
url_10 = f'https://api.themoviedb.org/3/movie/top_rated?api_key={ds_key_1}&language=en-US&page=9'
ds_r_10 = requests.get(url_10)
df_10 = pd.DataFrame.from_dict(ds_r_10.json()['results'])
highest_revenue_10 = ds_r_10.json() 
highest_revenue_films_10 = highest_revenue_10['results']
columns = ['id','film', 'revenue','genres','vote_count','vote_average','release_date','original_language',
           'orijinal_title','popularity']
df_10= pd.DataFrame(columns=columns)
for film in highest_revenue_films_10:
    # print(film['title'])
    film_revenue_10 = requests.get('https://api.themoviedb.org/3/movie/'+ str(film['id']) +'?api_key='+ ds_key_1+'&language=en-US')
    film_revenue_10= film_revenue_10.json()
    #print(locale.currency(film_revenue['revenue'], grouping=True ))
    df_10.loc[len(df_10)]=[film['id'],film['title'],film_revenue_10['revenue'],film['genre_ids'],film['vote_count'],
                         film['vote_average'],film['release_date'],film['original_language'],film['original_title'],
                          film['popularity']]
    
df_10

,id,film,revenue,genres,vote_count,vote_average,release_date,original_language,orijinal_title,popularity
0,19426,Nights of Cabiria,752045,[18],305,8.1,1957-10-03,it,Le notti di Cabiria,12.113
1,655,"Paris, Texas",2181987,[18],687,8.1,1984-05-19,en,"Paris, Texas",14.231
2,600,Full Metal Jacket,46357676,"[18, 10752]",6013,8.1,1987-06-26,en,Full Metal Jacket,19.236
3,7345,There Will Be Blood,77208711,[18],3419,8.1,2007-12-28,en,There Will Be Blood,18.734
4,654,On the Waterfront,9600000,"[80, 18]",786,8.1,1954-06-22,en,On the Waterfront,13.706
5,378108,In This Corner of the World,19496308,"[18, 16, 10749, 10752, 36]",235,8.1,2016-11-12,ja,この世界の片隅に,8.070
6,11423,Memories of Murder,26000000,"[80, 18, 53]",1265,8.1,2003-05-02,ko,살인의 추억,19.776
7,10242,What Ever Happened to Baby Jane?,0,"[18, 27, 53]",521,8.1,1962-10-31,en,What Ever Happened to Baby Jane?,10.083
8,18438,Castaway on the Moon,0,"[35, 18, 10749]",321,8.1,2009-05-14,ko,김씨 표류기,7.309
9,489,Good Will Hunting,225933435,[18],6817,8.1,1997-12-05,en,Good Will Hunting,13.780
10,843,In the Mood for Love,12854953,"[18, 10749]",995,8.1,2000-05-22,cn,花樣年華,13.731
11,12445,Harry Potter and the Deathly Hallows: Part 2,1341511219,"[12, 14]",12947,8.1,2011-07-07,en,Harry Potter and the Deathly Hallows: Part 2,28.130
12,527641,Five Feet Apart,0,"[18, 10749]",1872,8.1,2019-03-15,en,Five Feet Apart,21.796
13,3090,The Treasure of the Sierra Madre,4307000,"[12, 18, 37]",565,8.1,1948-01-24,en,The Treasure of the Sierra Madre,15.071
14,46738,Incendies,0,"[18, 9648, 10752]",1193,8.1,2010-09-04,fr,Incendies,12.922
15,666,Central Station,5596708,[18],370,8.1,1998-11-20,pt,Central do Brasil,9.733
16,1955,The Elephant Man,26010864,"[18, 36]",1738,8.1,1980-10-02,en,The Elephant Man,13.226
17,324786,Hacksaw Ridge,175302354,"[18, 36, 10752]",7493,8.1,2016-10-07,en,Hacksaw Ridge,18.636
18,42229,A Special Day,0,"[18, 10749]",296,8.1,1977-08-11,it,Una giornata particolare,7.822
19,307,"Rome, Open City",0,"[18, 36]",370,8.1,1945-09-27,it,Roma città aperta,8.693

In [22]:
to_concat = [df_1, df_2, df_3,df_4,df_5,df_6,df_7,df_8,df_9,df_10]
combined_df = pd.concat(to_concat)

In [23]:
combined_df.shape

(200, 10)

In [24]:
combined_df.reset_index()

,index,id,film,revenue,genres,vote_count,vote_average,release_date,original_language,orijinal_title,popularity
0,0,19404,Dilwale Dulhania Le Jayenge,100000000,"[35, 18, 10749]",2214,8.8,1995-10-20,hi,दिलवाले दुल्हनिया ले जायेंगे,21.867
1,1,278,The Shawshank Redemption,28341469,"[18, 80]",15047,8.7,1994-09-23,en,The Shawshank Redemption,36.004
2,2,238,The Godfather,245066411,"[80, 18]",11487,8.7,1972-03-14,en,The Godfather,29.365
3,3,496243,Parasite,201055038,"[35, 18, 53]",4756,8.6,2019-05-30,ko,기생충,148.987
4,4,424,Schindler's List,321365567,"[18, 36, 10752]",9163,8.6,1993-11-30,en,Schindler's List,23.746
...,...,...,...,...,...,...,...,...,...,...,...
195,15,666,Central Station,5596708,[18],370,8.1,1998-11-20,pt,Central do Brasil,9.733
196,16,1955,The Elephant Man,26010864,"[18, 36]",1738,8.1,1980-10-02,en,The Elephant Man,13.226
197,17,324786,Hacksaw Ridge,175302354,"[18, 36, 10752]",7493,8.1,2016-10-07,en,Hacksaw Ridge,18.636
198,18,42229,A Special Day,0,"[18, 10749]",296,8.1,1977-08-11,it,Una giornata particolare,7.822
199,19,307,"Rome, Open City",0,"[18, 36]",370,8.1,1945-09-27,it,Roma città aperta,8.693

In [25]:
combined_df.to_csv('movies_top_rated.csv')

In [33]:
combined_df.tail(50)

,id,film,revenue,genres,vote_count,vote_average,release_date,original_language,orijinal_title,popularity
10,289,Casablanca,10462500,"[18, 10749]",2919,8.1,1942-01-23,en,Casablanca,18.038
11,160885,Tel chi el telùn,0,[35],241,8.1,2009-03-01,it,Tel chi el telùn,5.704
12,449176,"Love, Simon",60848932,"[35, 18, 10749]",3772,8.1,2018-02-16,en,"Love, Simon",15.427
13,1059,The Hidden Fortress,0,"[28, 12, 35, 18]",249,8.1,1958-12-28,ja,隠し砦の三悪人,11.219
14,857,Saving Private Ryan,481840909,"[18, 36, 10752]",9535,8.1,1998-07-24,en,Saving Private Ryan,20.822
15,264644,Room,35401758,"[18, 53]",6188,8.1,2015-10-16,en,Room,15.595
16,11712,Sanjuro,0,"[18, 28, 35]",258,8.1,1962-01-01,ja,椿三十郎,10.047
17,603,The Matrix,463517383,"[28, 878]",16139,8.1,1999-03-30,en,The Matrix,33.136
18,110416,Song of the Sea,857522,"[16, 14, 10751]",790,8.1,2014-09-06,en,Song of the Sea,12.018
19,237791,The Way He Looks,0,"[18, 10749]",644,8.1,2014-03-28,pt,Hoje Eu Quero Voltar Sozinho,7.395
0,19426,Nights of Cabiria,752045,[18],305,8.1,1957-10-03,it,Le notti di Cabiria,12.113
1,655,"Paris, Texas",2181987,[18],687,8.1,1984-05-19,en,"Paris, Texas",14.231
2,600,Full Metal Jacket,46357676,"[18, 10752]",6013,8.1,1987-06-26,en,Full Metal Jacket,19.236
3,7345,There Will Be Blood,77208711,[18],3419,8.1,2007-12-28,en,There Will Be Blood,18.734
4,654,On the Waterfront,9600000,"[80, 18]",786,8.1,1954-06-22,en,On the Waterfront,13.706
5,378108,In This Corner of the World,19496308,"[18, 16, 10749, 10752, 36]",235,8.1,2016-11-12,ja,この世界の片隅に,8.070
6,11423,Memories of Murder,26000000,"[80, 18, 53]",1265,8.1,2003-05-02,ko,살인의 추억,19.776
7,10242,What Ever Happened to Baby Jane?,0,"[18, 27, 53]",521,8.1,1962-10-31,en,What Ever Happened to Baby Jane?,10.083
8,18438,Castaway on the Moon,0,"[35, 18, 10749]",321,8.1,2009-05-14,ko,김씨 표류기,7.309
9,489,Good Will Hunting,225933435,[18],6817,8.1,1997-12-05,en,Good Will Hunting,13.780
10,843,In the Mood for Love,12854953,"[18, 10749]",995,8.1,2000-05-22,cn,花樣年華,13.731
11,12445,Harry Potter and the Deathly Hallows: Part 2,1341511219,"[12, 14]",12947,8.1,2011-07-07,en,Harry Potter and the Deathly Hallows: Part 2,28.130
12,527641,Five Feet Apart,0,"[18, 10749]",1872,8.1,2019-03-15,en,Five Feet Apart,21.796
13,3090,The Treasure of the Sierra Madre,4307000,"[12, 18, 37]",565,8.1,1948-01-24,en,The Treasure of the Sierra Madre,15.071
14,46738,Incendies,0,"[18, 9648, 10752]",1193,8.1,2010-09-04,fr,Incendies,12.922
15,666,Central Station,5596708,[18],370,8.1,1998-11-20,pt,Central do Brasil,9.733
16,1955,The Elephant Man,26010864,"[18, 36]",1738,8.1,1980-10-02,en,The Elephant Man,13.226
17,324786,Hacksaw Ridge,175302354,"[18, 36, 10752]",7493,8.1,2016-10-07,en,Hacksaw Ridge,18.636
18,42229,A Special Day,0,"[18, 10749]",296,8.1,1977-08-11,it,Una giornata particolare,7.822
19,307,"Rome, Open City",0,"[18, 36]",370,8.1,1945-09-27,it,Roma città aperta,8.693
0,19426,Nights of Cabiria,752045,[18],305,8.1,1957-10-03,it,Le notti di Cabiria,12.113
1,655,"Paris, Texas",2181987,[18],687,8.1,1984-05-19,en,"Paris, Texas",14.231
2,600,Full Metal Jacket,46357676,"[18, 10752]",6013,8.1,1987-06-26,en,Full Metal Jacket,19.236
3,7345,There Will Be Blood,77208711,[18],3419,8.1,2007-12-28,en,There Will Be Blood,18.734
4,654,On the Waterfront,9600000,"[80, 18]",786,8.1,1954-06-22,en,On the Waterfront,13.706
5,378108,In This Corner of the World,19496308,"[18, 16, 10749, 10752, 36]",235,8.1,2016-11-12,ja,この世界の片隅に,8.070
6,11423,Memories of Murder,26000000,"[80, 18, 53]",1265,8.1,2003-05-02,ko,살인의 추억,19.776
7,10242,What Ever Happened to Baby Jane?,0,"[18, 27, 53]",521,8.1,1962-10-31,en,What Ever Happened to Baby Jane?,10.083
8,18438,Castaway on the Moon,0,"[35, 18, 10749]",321,8.1,2009-05-14,ko,김씨 표류기,7.309
9,489,Good Will Hunting,225933435,[18],6817,8.1,1997-12-05,en,Good Will Hunting,13.780
10,843,In the Mood for Love,12854953,"[18, 10749]",995,8.1,2000-05-22,cn,花樣年華,13.731
11,12445,Harry Potter and the Deathly Hallows: Part 2,1341511219,"[12, 14]",12947,8.1,2011-07-07,en,Harry Potter and the Deathly Hallows: Part 2,28.130
12,527641,Five Feet Apart,0,"[18, 10749]",1872,8.1,2019-03-15,en,Five Feet Apart,21.796
13,3090,The Treasure of the Sierra Madre,4307000,"[12, 18, 37]",565,8.1,1948-01-24,en,The Treasure of the Sierra Madre,15.071
14,46738,Incendies,0,"[18, 9648, 10752]",1193,8.1,2010-09-04,fr,Incendies,12.922
15,666,Central Station,5596708,[18],370,8.1,1998-11-20,pt,Central do Brasil,9.733
16,1955,The Elephant Man,26010864,"[18, 36]",1738,8.1,1980-10-02,en,The Elephant Man,13.226
17,324786,Hacksaw Ridge,175302354,"[18, 36, 10752]",7493,8.1,2016-10-07,en,Hacksaw Ridge,18.636
18,42229,A Special Day,0,"[18, 10749]",296,8.1,1977-08-11,it,Una giornata particolare,7.822
19,307,"Rome, Open City",0,"[18, 36]",370,8.1,1945-09-27,it,Roma città aperta,8.693