In [1]:
import pandas as pd

In [2]:
#pd.read_csv('2019_world_wide_box_office.csv')
#pd.read_csv('2019_world_wide_box_office.csv')

,Unnamed: 0,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,0,1,Avengers: Endgame,"$2,797,800,564","$858,373,000",30.7%,"$1,939,427,564",69.3%
1,1,2,The Lion King,"$1,656,943,394","$543,638,043",32.8%,"$1,113,305,351",67.2%
2,2,3,Frozen II,"$1,448,800,077","$477,020,655",32.9%,"$971,779,422",67.1%
3,3,4,Spider-Man: Far from Home,"$1,131,927,996","$390,532,085",34.5%,"$741,395,911",65.5%
4,4,5,Captain Marvel,"$1,128,274,794","$426,829,839",37.8%,"$701,444,955",62.2%
...,...,...,...,...,...,...,...,...
674,674,675,Jimi Hendrix Electric Church,"$1,818",-,-,"$1,818",100%
675,675,676,Game Day,"$1,624","$1,624",100%,-,-
676,676,677,The Hours and Times,"$1,273","$1,273",100%,-,-
677,677,678,The Untold Story,$790,$790,100%,-,-
678,678,679,The Portal,$685,-,-,$685,100%

In [6]:
df=pd.read_csv('2015_2019WorldWideBoxOffice.csv')
df.head(10)

,Unnamed: 0,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,0,1,Star Wars: Episode VII - The Force Awakens,"$2,068,223,624","$936,662,225",45.3%,"$1,131,561,399",54.7%
1,1,2,Jurassic World,"$1,670,400,637","$652,270,625",39%,"$1,018,130,012",61%
2,2,3,Furious 7,"$1,515,047,671","$353,007,020",23.3%,"$1,162,040,651",76.7%
3,3,4,Avengers: Age of Ultron,"$1,402,805,868","$459,005,868",32.7%,"$943,800,000",67.3%
4,4,5,Minions,"$1,159,398,397","$336,045,770",29%,"$823,352,627",71%
5,5,6,Spectre,"$880,674,609","$200,074,609",22.7%,"$680,600,000",77.3%
6,6,7,Inside Out,"$857,611,174","$356,461,711",41.6%,"$501,149,463",58.4%
7,7,8,Mission: Impossible - Rogue Nation,"$682,714,267","$195,042,377",28.6%,"$487,671,890",71.4%
8,8,9,The Hunger Games: Mockingjay - Part 2,"$658,344,137","$281,723,902",42.8%,"$376,620,235",57.2%
9,9,10,The Martian,"$630,161,890","$228,433,663",36.2%,"$401,728,227",63.8%