# Merging the 4 different cvs's data

We grabbed 4 different data sets for all dataframe

1. Best 20 Revenue values films for each year from 1970 to 2019           (20highest_revenue_from_1970_to_2019)
2. Top rated 1500 films                                                    (all_top_rated_without_revenue.csv)       

These first two are from TMDB via API key
3. Budget & Worldwide Gross and Domestic                             (1900movies_budget_domesticgross_WW_gross.csv)

Third one is from the-numbers.com via Web Scrabing
4. Foreign and Domestic Revenues from Box Office Mojo                       (2015_2019WorldWideBoxOffice.csv')                              
Forth one is from Box Office via Web Scrabing

In [15]:
import pandas as pd      #import for our dataframe and series 
import numpy as np

In [16]:
df = pd.read_csv('1900movies_budget_domesticgross_WW_gross.csv') #taking values from  the-numbers.com

In [1]:
df   #to see our data frame

In [17]:
df_1 = pd.read_csv('20highest_revenue_from_1970_to_2019')
#take TMDB datas csv

In [18]:
df_2 = pd.read_csv('all_top_rated_without_revenue.csv')
#take TMDB other data csv

In [6]:
df_2 #to see the dataframe

## Merging and Cleaning Dublicates for TMDB's two dataframes

In [19]:
to_concat = [df_1, df_2]
combined_df = pd.concat(to_concat)
#the columns are same so we can easily merge them

In [2]:
combined_df.head(20) #to see the head

In [3]:
combined_df.tail()#to see the tail

In [397]:
for col in combined_df.columns:
    print(col)                 #to see the column names for choosing useful columns

Unnamed: 0
adult
backdrop_path
genre_ids
id
original_language
original_title
overview
popularity
poster_path
release_date
title
video
vote_average
vote_count

In [20]:
combined_df.drop(columns = ['Unnamed: 0','backdrop_path','overview','poster_path','video'], inplace=True)
#Drop the unnecessary columns

In [4]:
combined_df #to see the result

In [21]:
combined_df.set_index('title')  #set the title as index for preparing to other merge

,adult,genre_ids,id,original_language,original_title,popularity,release_date,vote_average,vote_count
title,,,,,,,,,
Love Story,False,"[18, 10749]",9062,en,Love Story,9.594,1970-12-16,6.7,317
Airport,False,"[28, 18, 53]",10671,en,Airport,9.058,1970-03-05,6.5,169
Patton,False,"[18, 36, 10752]",11202,en,Patton,13.077,1970-01-25,7.5,585
M*A*S*H,False,"[35, 18, 10752]",651,en,M*A*S*H,11.800,1970-01-24,7.1,486
The Aristocats,False,"[12, 16, 35, 10751]",10112,en,The Aristocats,13.901,1970-12-23,7.3,3164
...,...,...,...,...,...,...,...,...,...
Assault on Precinct 13,False,"[53, 28, 80]",17814,en,Assault on Precinct 13,9.932,1976-11-05,7.3,499
Manhattan Murder Mystery,False,"[35, 9648]",10440,en,Manhattan Murder Mystery,9.439,1993-08-18,7.3,480
A Nightmare on Elm Street,False,[27],377,en,A Nightmare on Elm Street,12.545,1984-11-14,7.3,2820
Brooklyn,False,"[18, 10749]",167073,en,Brooklyn,15.632,2015-10-20,7.3,2135
Frozen,False,"[12, 16, 10751]",109445,en,Frozen,44.178,2013-11-27,7.3,11199

In [5]:
combined_df.sort_values(by='vote_average', ascending = False)  #To see the best vote_average films

In [22]:
combined_df.info()    #to get info about types and shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2480 entries, 0 to 1479
Data columns (total 10 columns):
adult                2480 non-null bool
genre_ids            2480 non-null object
id                   2480 non-null int64
original_language    2480 non-null object
original_title       2480 non-null object
popularity           2480 non-null float64
release_date         2480 non-null object
title                2480 non-null object
vote_average         2480 non-null float64
vote_count           2480 non-null int64
dtypes: bool(1), float64(2), int64(2), object(5)
memory usage: 196.2+ KB

In [23]:
combined_df.drop_duplicates(subset='id',inplace=True) #To figure our and drop dublicated rows

In [24]:
combined_df.info()  #to check the dublicated values were gone or not

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2217 entries, 0 to 1478
Data columns (total 10 columns):
adult                2217 non-null bool
genre_ids            2217 non-null object
id                   2217 non-null int64
original_language    2217 non-null object
original_title       2217 non-null object
popularity           2217 non-null float64
release_date         2217 non-null object
title                2217 non-null object
vote_average         2217 non-null float64
vote_count           2217 non-null int64
dtypes: bool(1), float64(2), int64(2), object(5)
memory usage: 175.4+ KB

## Converting Genre Codes to Genre Names

In [25]:
genres_id = pd.read_csv('genre_codes.csv') #taking our genre codes csv

In [365]:
genres_id #See the which number means which genre

    Unnamed: 0     id             name
0            0     28           Action
1            1     12        Adventure
2            2     16        Animation
3            3     35           Comedy
4            4     80            Crime
5            5     99      Documentary
6            6     18            Drama
7            7  10751           Family
8            8     14          Fantasy
9            9     36          History
10          10     27           Horror
11          11  10402            Music
12          12   9648          Mystery
13          13  10749          Romance
14          14    878  Science Fiction
15          15  10770         TV Movie
16          16     53         Thriller
17          17  10752              War
18          18     37          Western

In [26]:
genres_id['id'] = genres_id['id'].astype(str) #convert integers of id to string

In [27]:
genres_id.info() #to check for converting

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 3 columns):
Unnamed: 0    19 non-null int64
id            19 non-null object
name          19 non-null object
dtypes: int64(1), object(2)
memory usage: 584.0+ bytes

### Making a Dictionary for Genres Dataframe

To convert to genre codes to names, we need for loop.
So, we create dictinary as keys are genres_id , values are genre names.

In [28]:
list_of_id = genres_id['id'].to_list()
# Taking keys of genre dataframe and converting them to list

In [29]:
list_of_genre_names = genres_id['name'].to_list()
# Taking values of genre dataframe and converting them to list

In [30]:
my_dict = zip(list_of_id,list_of_genre_names)
genre_dict=dict(my_dict)
# genre_dict createf for loop

In [31]:
for key,value in genre_dict.items():
    combined_df['genre_ids'] = combined_df['genre_ids'].str.replace(key ,value) 
    
#Converting the numbers to names

In [32]:
combined_df.sort_values(by='release_date',ascending=False).head() #to see the convertion

,adult,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
809,False,"[Drama, Romance]",342470,en,All the Bright Places,93.054,2020-02-28,All the Bright Places,7.5,235
324,False,"[Action, Comedy, Crime]",522627,en,The Gentlemen,38.284,2020-01-01,The Gentlemen,7.9,359
262,False,"[Drama, Romance]",331482,en,Little Women,35.016,2019-12-25,Little Women,8.0,1239
987,False,"[Action, Adventure, Science Fiction]",181812,en,Star Wars: The Rise of Skywalker,55.835,2019-12-18,Star Wars: The Rise of Skywalker,6.5,3059
1031,False,[Drama],292011,en,Richard Jewell,34.950,2019-12-13,Richard Jewell,7.5,378

In [411]:
combined_df.set_index('title',inplace=True)
#Seting a new index as title for preparing other merging

In [33]:
combined_df #to see the new index

## Merging Web Scrabing Data for Budgets

In [412]:
df.rename(columns = {'Name' : 'title'}, inplace = True)
#before merging we change name to title for merging according to title

In [413]:
df.set_index('title',inplace=True)
# set the title as index for perfect match

In [414]:
combined_outer = pd.merge(combined_df, df, how = 'outer', left_index = True, right_index = True)

#We merge data according to outer shell because we will grap more data later and clean null values later

In [34]:
combined_outer

## Merging Data for Worldwide and Domestic Gross

In [415]:
new_df = pd.read_csv('2015_2019WorldWideBoxOffice.csv') #Taking the 4th data set

In [416]:
new_df.rename(columns = {'Release Group' : 'title'}, inplace = True)
#Rename the columns as title for best merging

In [417]:
new_df.set_index('title',inplace=True)
#Seting index as title for merge according to title

In [56]:
new_df #to see the our last and new df

In [418]:
combined_last = pd.merge(combined_outer, new_df, how = 'outer', left_index = True, right_index = True)
#Merge all 4th and last data

In [35]:
combined_last #to see the last ready dataframe

In [419]:
combined_last['Title'] = combined_last.index

In [420]:
combined_last.reset_index(inplace=True)

## Dropping Unnecessary Columns and Values

In [421]:
combined_last.drop_duplicates(subset='Title',inplace=True)

#first reset index and create new Title column for dropping dublicates

In [36]:
combined_last.columns #to see the unnnecessary columns

In [423]:
combined_last.drop(columns = ['id','original_title','Unnamed: 0_x','Unnamed: 0_y'], inplace=True)
#drop unnecessary columns

In [424]:
combined_last.isna().sum() #to see null values

title                   0
adult                4654
genre_ids            4654
original_language    4654
popularity           4654
release_date         4654
vote_average         4654
vote_count           4654
Date                 4959
Budget               4959
Domestic Gross       4959
WW_Gross             4959
Rank                 3015
Worldwide            3015
Domestic             3015
%                    3015
Foreign              3015
%.1                  3015
Title                   0
dtype: int64

## Merging Domestic Columns and Worldwide Columns

In our data there are two columns as domestic from two different web scrabing. One is named as 'Domestic' and other one is 'Domestic Gross'. We picked them two different sources. Now, we merge them in one column. Also, we has 'Worldwide' and 'WW_Gross' columns for total revenue and we need to merge them.

In [425]:
combined_last['Domestic'].fillna(combined_last['Domestic Gross'],inplace=True)

In [426]:
combined_last['Worldwide'].fillna(combined_last['WW_Gross'],inplace=True)

In [427]:
combined_last.isna().sum() #when we merge them we has less null values for these columns

title                   0
adult                4654
genre_ids            4654
original_language    4654
popularity           4654
release_date         4654
vote_average         4654
vote_count           4654
Date                 4959
Budget               4959
Domestic Gross       4959
WW_Gross             4959
Rank                 3015
Worldwide            1444
Domestic             1444
%                    3015
Foreign              3015
%.1                  3015
Title                   0
dtype: int64

In [428]:
combined_last.drop(columns=['Domestic Gross','WW_Gross'],inplace=True)
#Drop unnecessary columns after merging

In [430]:
combined_last.to_csv('last_all_data.csv')
#This is all our merged data

After here, we will use this data file.